<form fxFlex="1 1 auto" (ngSubmit)="submitForm()" [formGroup]="form" novalidate [markDirtyOnSubmit]="form" id="dynamic-form" fxLayout="column">
    <mat-card-content fxFlex="1 1 auto" mat-dialog-content fxLayout="column">
        <app-dynamic-form-field *ngFor="let field of screenForm.formElements" [formGroup]="form" [formField]="field" (onFieldChanged)="onFieldChanged($event)"></app-dynamic-form-field>
        <mat-error>
            <div id="formErrorsWrapper"><app-show-errors #formErrors [control]="form"></app-show-errors></div>
            <div *ngFor="let error of screenForm.formErrors">{{error}}</div>
        </mat-error>	
    </mat-card-content>
    <mat-card-actions fxFlex="0 0 auto" mat-dialog-actions >
        <button fxFlex="0 0 auto" mat-raised-button type="button" color="primary-inverse" *ngFor="let button of buttons" (click)="onButtonClick(button)">
            <span>{{button.label}}</span>
            <mat-icon *ngIf="button.icon" class="material-icons">{{button.icon}}</mat-icon>
        </button>
        <div fxFlex="1 1 auto"></div>
        <button fxFlex="0 0 auto" type="submit" mat-raised-button color=primary *ngIf="submitButton">
            <span>{{submitButton.title}}</span>
            <mat-icon *ngIf="submitButton.icon" class="material-icons">{{submitButton.icon}}</mat-icon>
        </button>
    </mat-card-actions>
</form>

