<div ngClass="outer-container">
  <button fxFlex="0 0 auto" mat-button color="primary-inverse" class="text-md" (click)="devices.scan()">
      <span>Scan</span>
      <mat-icon svgIcon="barcode"></mat-icon>
    </button>
    <input #input cdkFocusInitial="true" [keyboardLayout]="'Numeric'" fxFlexFill fxFlex="1 1 auto" class="bordered prompt-input-scan-something text-md" 
      (keyup.enter)="onEnter()" [(ngModel)]="barcode" (paste)="onBarcodePaste($event)"
      [placeholder]="scanSomethingData.placeholderText ? scanSomethingData.placeholderText : 'Scan/Enter Something'" novalidate type="tel" pattern="[0-9]*"
      [attr.minlength]="minLength" [attr.maxlength]="maxLength">
  </div>