.overflow-title {
    display: block;
    padding: 10px;
    margin: 0px;
}

.overflow-title-sm {
    padding: 2px;
}

.overflow-content {
    display: block;
    padding: 10px;
    margin: 0px;
}

.overflow-content-sm {
    padding: 0px;
}
