<ng-container *ngIf="selectionMode == 'Multiple'; else otherSelectionMode">
    <mat-list-option *ngFor="let item of items" [ngClass]="(itemClass ? itemClass : 'sale-line-item' )" ngClass.xs="sale-line-item-xs" (click)="onItemClick(item, $event)" [value]="item.index" [selected]="item.selected">
        <ng-container *ngTemplateOutlet="productListItemDetail; context:{item: item, selectionMode: selectionMode}"></ng-container>
    </mat-list-option>
</ng-container>
<ng-template #otherSelectionMode>
    <mat-list-item *ngFor="let item of items" [ngClass]="(itemClass ? itemClass : 'sale-line-item' )" ngClass.xs="sale-line-item-xs" (click)="onItemClick(item, $event)">
        <ng-container *ngTemplateOutlet="productListItemDetail; context:{item: item, selectionMode: selectionMode}"></ng-container>
    </mat-list-item>
</ng-template>

<ng-template #productListItemDetail let-item="item">
    <div fxLayout="row" fxLayoutAlign="start center" style="width:100%"> 
        <div fxFlex="1 1 auto">
            <div class="line-item-description" mat-line >{{item.description}}</div>
            <div *ngIf="item.subtitle" mat-line class="line-item-subtitle">{{item.subtitle}}</div>
            <div *ngIf="item.fields" mat-line fxLayout="row">
                <mat-form-field *ngFor="let field of item.fields" style="margin-right: 10px">
                    <label class="product-list-label">{{field.label}}</label>
                    <input matInput disabled [(ngModel)]="field.value">
                </mat-form-field>
            </div>
        </div>
        <div>
            <span *ngIf="item.amount" class="line-item-extended-amt">
                <span class="super-currency-symbol">$</span>{{item.amount}}
            </span>
            <mat-icon *ngIf="showItemIcon" class="material-icons line-item-caret">keyboard_arrow_right</mat-icon>
            <ng-container *ngIf="showItemMenu">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let menuItem of menuItemActions" (click)="onMenuItemClick(item, menuItem, $event)">
                        <app-icon *ngIf="menuItem.icon" iconName="{{menuItem.icon}}"></app-icon>
                        <span [ngClass]="{'menu-item-dimmed': ! menuItem.enabled}">{{menuItem.title}}</span>
                    </button>
                </mat-menu>
            </ng-container>
        </div>
    </div>
</ng-template>