<div class="prompt-input-container">
    <p>        
        <mat-form-field *ngIf="responseType!=='DATE'" class="prompt-input" ngClass.xs="prompt-input-xs">
            <mat-icon  matPrefix *ngIf="responseType !== 'DATE'" class="material-icons prompt-icon">{{promptIcon}}</mat-icon>
            <input #box matInput [(ngModel)]="responseText" (keyup.enter)="onEnter($event)" type="{{inputType}}"
               [appFocus]="true"> 
            <mat-placeholder>{{placeholderText}}</mat-placeholder>
            <mat-hint class="prompt-text" align="start">{{hintText}}</mat-hint>
        </mat-form-field>

        <mat-form-field *ngIf="responseType==='DATE'" class="date-prompt-input" ngClass.xs="date-prompt-input-xs">
            <!-- Can't use the masking component AND date picker on the same input, so use a hidden input for the picker and
                visible input for the masking component -->
            <input matInput placeholder="{{placeholderText}}" [(ngModel)]="dateText" 
               [textMask]="{mask: dateMask, pipe: autoCorrectedDatePipe, keepCharPositions: true}" 
               (keyup.enter)="onDateEntered($event)">
            <input matInput hidden [matDatepicker]="picker" [(ngModel)]="datePickerValue" (dateChange)="onDatePicked($event)">
            <mat-datepicker-toggle matPrefix [for]="picker" class="date-picker-toggle"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
    
    
</div>