        <mat-form-field fxFlexFill *ngIf="responseType!=='DATE'" ngClass="text-xl" ngClass.xs="text-lg">
            <mat-icon  matPrefix class="material-icons" color="primary">{{promptIcon}}</mat-icon>
            <input #box matInput [(ngModel)]="responseText" (keyup.enter)="onEnter($event)" type="{{inputType}}" [appFocus]="true"> 
            <mat-placeholder>{{placeholderText}}</mat-placeholder>
            <mat-hint class="prompt-text" align="start">{{hintText}}</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlexFill *ngIf="responseType==='DATE'" ngClass="text-xl" ngClass.xs="text-lg">
            <!-- Can't use the masking component AND date picker on the same input, so use a hidden input for the picker and
                visible input for the masking component -->
            <input matInput placeholder="{{placeholderText}}" [(ngModel)]="dateText" 
               [textMask]="{mask: dateMask, pipe: autoCorrectedDatePipe, keepCharPositions: true}" 
               (keyup.enter)="onDateEntered($event)">
            <input matInput hidden [matDatepicker]="picker" [(ngModel)]="datePickerValue" (dateChange)="onDatePicked($event)">
            <mat-hint class="prompt-text" align="start">{{hintText}}</mat-hint>
            <mat-datepicker-toggle matPrefix [for]="picker" class="date-picker-toggle"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>