.list-item {
    padding: 60px;
    margin: 8px;
}

.mat-line {
   text-align: center;
}

.options-prompt {
    font-weight: bold;
}

.options-icon {
    width: 300px; 
    height: 100px; 
    padding-top: 32px;
}

.options-title {
    padding-top: 64px;
    padding-bottom: 32px;
    font-weight: bold; 
}

.options-form {
    padding-left: 30px; 
    padding-right: 30px;
}