.list-item {
    padding: 60px;
    margin: 8px;
}

.mat-line {
   text-align: center;
}

::ng-deep .options-icon {
    mat-icon {
        width: 400px; 
        height: 100px; 
        padding-top: 0px;
    }
}

.options-title {
    font-size: 36px;
    font-weight: bold;
    p {
        margin-top: 0px;
        margin-bottom: 64px;
    }
}

.options-prompt {
    font-size: 26px;
    p {
        max-width: 400px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}

.options-buttons {
    padding-bottom: 64px;
}

.options-form {
    padding-left: 30px; 
    padding-right: 30px;
}