<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" style="overflow-y: hidden">
    <div fxFlexFill fxFlex="1 1 60%" fxLayout="column" fxLayoutAlign="center stretch" [ngSwitch]="currentView">
        <ng-template ngSwitchCase="ButtonList">
            <div fxFlex="0 0 auto" fxLayoutAlign="center center" *ngIf="screen.icon">
                <mat-icon [svgIcon]="screen.icon" class="options-icon"></mat-icon>
            </div>
            <div fxFlex="0 0 auto" fxLayoutAlign="center center" *ngIf="screen.title" class="text-md options-title">
                <p>{{screen.title}}</p>
            </div>
            <div fxFlex="0 0 auto" *ngIf="screen.optionsImage">
                <div fxLayoutAlign="center center" style="padding: 0px; margin:8px;">
                    <div [ngClass]="screen.optionsImage"></div>
                </div>
            </div>
            <div fxFlex="0 0 15%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="64px" class="text-md text-center options-prompt" *ngIf="screen.prompt">
                <p>{{screen.prompt}}</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px" *ngIf="screen.additionalButtons">
                    <button mat-raised-button color="primary" *ngFor="let button of screen.additionalButtons" (click)="onMakeOptionSelection(button)">
                        <span class="text-md" style="line-height: 64px; padding: 32px;">{{button.displayValue}}</span>
                        <mat-icon *ngIf="button.icon" class="material-icons">{{button.icon}}</mat-icon>
                    </button>
                </div>
            </div>
            <mat-nav-list fxFlex="0 0 auto" *ngIf="optionItems.length > 0">
                <!-- material doesn't yet support enable/disable of mat-list-item, workaround ... -->
                <mat-list-item fxLayoutAlign="center center" class="list-item" *ngFor="let o of optionItems" (click)="o.enabled && onMakeOptionSelection(o)">
                    <app-icon matLine iconName="{{o.icon}}" iconClass="material-icons mat-64"></app-icon>
                    <span matLine [ngClass]="{'muted-color' : !o.enabled}">{{o.displayValue}}</span>
                </mat-list-item>
            </mat-nav-list>
        </ng-template>

        <ng-template ngSwitchCase="OptionForm">
            <mat-card fxFlex="0 0 250px" class="options-form">
                <app-dynamic-form-control fxFlexFill [submitButton]="{action: selectedOption.value, title:'Enter'}" [screenForm]="selectedOption.form"></app-dynamic-form-control>
            </mat-card>
        </ng-template>
    </div>
</div>