<div fxFlexFill fxLayout="column">
    <app-statusbar fxFlex="0 1 auto" [data]="statusBar"></app-statusbar>
    <div fxFlex="1 1 auto" style="padding:16px;overflow-y:auto" fxLayout="column" fxLayoutAlign="start"
        fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
            <app-scan-something fxFlex="1 1 auto" class="mat-elevation-z3" *ngIf="template.showScan" 
            [scanSomethingData]="scanSomethingData"
            [minLength]="template.scanMinLength" [maxLength]="template.scanMaxLength"></app-scan-something>
            <div *ngIf="template.type === 'Transaction'" fxHide.xs fxFlex="0 1 auto" class="text-center">{{time|date:'MM/dd/yyyy'}}
                <br>{{time|date:'shortTime'}}</div>
        </div>
        <mat-card fxFlex class="page-content-card min-height lighter" fxLayout="column" fxLayoutAlign="start">
            <mat-card-title fxFlex="0 0 auto" class="text-md">
                <ng-container *ngIf="template.transactionMenuItems?.length > 0; else prompt">
                    <button mat-button class="text-md" style="padding-left:0px;" [matMenuTriggerFor]="transactionMenu">
                        <span>{{template.prompt}}</span>
                        <mat-icon>expand_more</mat-icon>
                    </button>
                    <mat-menu #transactionMenu="matMenu">
                        <button color=primary mat-menu-item *ngFor="let m of template.transactionMenuItems" (click)="doMenuItemAction(m)" [disabled]="!isMenuItemEnabled(m)">
                            <app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
                            <span [ngClass]="{'muted-color': ! m.enabled}">{{m.title}}</span>
                        </button>
                    </mat-menu>
                </ng-container>
                <ng-template #prompt>
                    <span fxFlexAlign="center" [ngClass]="{'warn bold-text':template.customerFacing}">{{template.prompt}}</span>
                </ng-template>

                <span fxFlex="1 1 auto"></span>
                <span *ngIf="template && template.localMenuItems && template.localMenuItems.length">
                    <button mat-icon-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </span>
            </mat-card-title>
            <mat-card-content fxFlex="1 1 auto">
                <mat-drawer-container fxFlex="1 1 auto">
                        <mat-drawer #drawer position="end" [mode]="drawerMode | async" [opened]="drawerOpen | async" fxLayout="column" fxLayoutAlign="start stretch"
                            fxLayoutGap="4px" style="overflow-x:hidden;padding-bottom:20px">
                            <button mat-button color="primary" *ngFor="let m of template.localMenuItems" (click)="doMenuItemAction(m)" style="text-align: left"
                                [disabled]="!isMenuItemEnabled(m)">
                                <app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
                                <span [ngClass]="{'muted-color': ! m.enabled}">&nbsp;{{m.title}}</span>
                            </button>
                            <div fxFlex="1 1 auto"></div>
                            <ng-container *ngIf="!template.hideCustomer">
                                <button mat-button *ngIf="template.type === 'Transaction'" color="accent" style="text-align: left">
                                    <ng-container *ngIf="template.customer">
                                        <mat-icon>person</mat-icon>&nbsp;
                                        <span>{{template.customer.name}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="!template.customer && !template.noCustomerText">
                                        <mat-icon class="muted-color">link</mat-icon>&nbsp;
                                        <span class="muted-color">No Linked Customer</span>
                                    </ng-container>
                                    <div fxFlex="1 1 150px" style="white-space: pre-wrap" *ngIf="template.noCustomerText && !template.customer" class="muted-color text-center">{{template.noCustomerText}}</div>
                                </button>
                            </ng-container>
                            <div *ngIf="template.type === 'Transaction'" fxFlex="0 1 auto" class="sell-screen-logo"></div>
                        </mat-drawer>
                        <mat-drawer-content  fxFlex="1 1 auto">
                            <ng-template appScreen></ng-template>
                        </mat-drawer-content>
                    </mat-drawer-container>
            </mat-card-content>
        </mat-card>
    </div>
</div>