.quantity-area {
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    max-width:100%;
    max-height:100%;
}

.line-spacing-sm {
    line-height: 18px;
}

.grid-wrapper {
    overflow-y: auto; 
    height: 475px;
}

mat-card {
    padding: 4px;
    margin: 5px;
}

mat-paginator {
    font-size: 16px;
}

::ng-deep .mat-select-value-text {
    font-size: 16px;
}

::ng-deep .mat-option-text {
    font-size: 16px;
}