.quantity-area {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-img {
    max-width:100%;
    max-height:100%;
}

.line-spacing-sm {
    line-height: 18px;
}

.grid-wrapper {
    overflow-y: auto; 
    height: 475px;
}

.filter-drawer {
    overflow-x:hidden;
    padding-bottom:20px; 
    padding-left: 5px
}

.item-card {
    padding: 4px;
    margin: 5px;
}

.browser-card {
    padding: 4px;
    margin: 5px;
}

.paginator {
    font-size: 16px;
}
// Increase font size on paginator components
::ng-deep .mat-select-value-text {
    font-size: 16px;
}
// Increase font size on paginator components
::ng-deep .mat-option-text {
    font-size: 16px;
}