<div fxFlexFill style="padding:16px" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">

	<div fxFlexFill fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
		<div fxFlex="1 1 80%" style="overflow-y: auto">

			<app-checkout-list-item *ngFor="let i of items" [item]=i [session]=session [isReadOnly]=this.session.screen.readOnly></app-checkout-list-item>

			<div *ngIf="items.length == 0" fxLayout="column" fxLayoutAlign="center center" class="muted-color">
				<mat-icon ngClass="material-icons mat-180" ngClass="material-icons mat-128" color=icon svgIcon="barcode"></mat-icon>
				<span class="text-md">Scan something to get started.</span>
			</div>
		</div>

		<mat-card fxFlex="1 1 20%" class="page-content-card grey-background scrollable-content-card mat-elevation-z0">
			<mat-card-content fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="end stretch" fxLayoutGap="0px">
				<mat-card *ngFor="let total of session.screen.totals" class="page-content-card text-center mat-elevation-z0">
					<mat-card-title class="primary text-sm">
						{{total.name}}
					</mat-card-title>
					<mat-card-content>
						<p class="primary text-md">
							<span class="super-currency-symbol">$</span>{{total.amount}}</p>
					</mat-card-content>
				</mat-card>
				<mat-card class="page-content-card text-center mat-elevation-z0">
					<mat-card-title class="primary text-md"> Total </mat-card-title>
					<mat-card-content>
						<p class="primary text-lg">
							<span class="super-currency-symbol">$</span>{{session.screen.grandTotal}}</p>
					</mat-card-content>
				</mat-card>

				<div fxFlex="1 1 auto"></div>

				<div>
					<button mat-button *ngIf="!session.screen.readOnly" [disabled]="!session.screen.transaction.active || items.length == 0"
					 (click)="session.onAction('Checkout')" class="green-button text-lg">Checkout
					</button>
					<button mat-button *ngIf="!session.screen.readOnly" color="primary" (click)="doMenuItemAction(session.screen.logoutButton)"
					 class="border-button text-lg"><span>
					  <app-icon [iconName]="session.screen.logoutButton.icon" class="top"></app-icon>{{session.screen.logoutButton.title}}</span>
					</button>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>