<div fxFlexFill style="background-color:white; padding:16px" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
	<app-scan-something class="mat-elevation-z3" *ngIf="session.screen.showScan" fxFlex="0 0 auto" (enter)="onScanInputEnter($event)"
	 placeholderText="Scan Something"></app-scan-something>

	<div fxFlexFill fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
		<mat-card fxFlex="0 0 80%" class="page-content-card lighter scrollable-content-card mat-elevation-z3" fxLayout="column" fxLayoutAlign="start">
			<mat-card-content>

				<app-checkout-list-item *ngFor="let i of items" [item]=i [session]=session></app-checkout-list-item>

				<div *ngIf="items.length == 0" fxLayout="column" fxLayoutAlign="center center">
					<mat-icon color="accent-lighter" ngClass="material-icons mat-180" ngClass="material-icons mat-128" svgIcon="barcode"></mat-icon>
					<span class="text-md">Scan something to get started.</span>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card fxFlex="1 1 20%" class="page-content-card dark mat-elevation-z3" fxLayout="column" fxLayoutAlign="start">
			<mat-card-content>
				<div fxFlexFill fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
					<mat-card fxFlex *ngFor="let total of session.screen.totals" class="page-content-card text-center">
						<mat-card-title class="primary text-sm">
							{{total.name}}
						</mat-card-title>
						<mat-card-content>
							<p class="primary text-lg">
								<span class="super-currency-symbol">$</span>{{total.amount}}</p>
						</mat-card-content>
					</mat-card>
					<mat-card fxFlex *ngIf="session.screen.transaction.transactionNumber" class="page-content-card text-center">
						<mat-card-title class="primary text-sm"> Total </mat-card-title>
						<mat-card-content>
							<p class="primary text-lg">
								<span class="super-currency-symbol">$</span>{{session.screen.grandTotal}}</p>
						</mat-card-content>
					</mat-card>
					<button mat-button fxFlex="1 1 auto" color="primary-inverse" style="height:100%; margin:-4px;" [disabled]="!session.screen.transaction.active || items.length == 0"
					 (click)="session.onAction('Checkout')" class="text-lg"> Checkout
						<mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
					</button>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>