@mixin openpos-drawer(){
  .mat-drawer-container{
    padding-bottom:6px;

    .mat-drawer-content{
        padding-right:6px;
        padding-left:6px;
        padding-bottom:6px;
    }

    .mat-drawer{
        padding-right:6px;
    }
  }
}
