@mixin waffle-theme($theme){

    $background: map-get($theme, background );

    app-waffle{
        .outer-side-content-container{
            background-color: map-get($background, background);
        }

        .outer-side-content{
            background-color: map-get($background, background);
        }

        .main-content{
            background-color: map-get($background, background);
        }

        .content-drawer{
            background-color: mat-color($background, app-bar);
        }
        .content{ 
            background-color: mat-color($background, app-bar);
        }
        .content-title{
            background-color: mat-color($background, app-bar);
        }
    }
}