<div class="waffle" gdAreas="waffle-header | waffle-content-container"
    gdRows="auto 1fr">
    <div class="waffle-header mat-elevation-z10"
    gdArea="waffle-header"
    gdAreas="header button"
    gdColumns="1fr auto">
        <ng-content gdArea="header" select="[waffle-header]"></ng-content>
        <div *ngIf="showDrawer" gdArea="button" gdGridAlign="center center">
            <app-icon-button class="drawer-button" [iconName]="'HamburgerMenu'" (buttonClick)="waffledrawer.toggle()"></app-icon-button>
        </div>
    </div>
    <mat-sidenav-container autosize  gdArea="waffle-content-container">
        <mat-sidenav #waffledrawer class="waffle-drawer-content" position="end" [mode]="drawerMode | async" [opened]="(drawerOpen | async) && showDrawer">
            <ng-content select="[waffle-drawer-content]"></ng-content>
        </mat-sidenav>
        <mat-sidenav-content gdAreas="top-content | title | body | footer"
        gdRows="auto auto minmax(50%, 100%) auto">
            <div>
                <ng-content gdArea="top-content" select="[waffle-top-content]"></ng-content>
            </div>
            <div>
                <ng-content gdArea="title" select="[waffle-title]"></ng-content>
            </div>
            <div gdArea="body" gdAreas="body-content" gdRows="minmax(100%, 100%)">
                <ng-content gdArea="body-content" select="[waffle-body]"></ng-content>
            </div>
            <div>
                <ng-content gdArea="footer" select="[waffle-footer]"></ng-content>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


