:host{
    height: 100%;
}

.waffle{
    height: 100%;
}

.waffle-header{
    z-index: 100;
}

.waffle-drawer-content {
    min-width: 200px;
}

.waffle-drawer-scroller{
    height: 100%;
    overflow: auto;
}
