<div class="waffle-header mat-elevation-z10">
    <div class="waffle-header-content">
        <ng-content select="[waffle-header]"></ng-content>
    </div>
    <div *ngIf="showDrawer" class="hamburger-button-container">
        <app-icon-button class="drawer-button" [iconName]="'HamburgerMenu'" (buttonClick)="waffledrawer.toggle()"></app-icon-button>
    </div>
</div>
<mat-sidenav-container class="waffle-content-container">
    <mat-sidenav *ngIf="showDrawer" #waffledrawer class="waffle-drawer-content" position="end" [mode]="drawerMode | async" [opened]="drawerOpen | async">
        <ng-content select="[waffle-drawer-content]"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content class="waffle-content">
        <div class="waffle-top-content">
            <ng-content select="[waffle-top-content]"></ng-content>
        </div>
        <div class="waffle-title">
            <ng-content select="[waffle-title]"></ng-content>
        </div>
        <div class="waffle-body">
            <ng-content select="[waffle-body]"></ng-content>
        </div>
        <div class="waffle-footer">
            <ng-content select="[waffle-footer]"></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

