# Compiled class file
*.class

# Log file
*.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.ipr

**/bin/*
**/out/
**/.idea
**/.classpath
**/classes/
**/build/

**/.project
**/.settings
**/.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/.settings/
/.classpath
/.project
openpos-cordova/.project
openpos-cordova/.project
openpos-client/.angulardoc.json
openpos-client/package-lock.json
/.DS_Store
openpos-client/.vscode/settings.json
/node/
biglots.code-workspace
biglots.code-workspace
ascena.code-workspace
*/.gradle/
openpos-client-core-lib/\.settings/org\.eclipse\.buildship\.core\.prefs

openpos-client-core-lib/\.project
/.metadata/
.azure-pipelines.yml.swp

**/dist/
**/node_modules/

**/version.ts
openpos-assemble/.classpath
openpos-assemble/.project
openpos-assemble/openpos-assemble.iws
openpos-assemble/openpos-assemble.iml
openpos-boot/openpos-boot.iml
openpos-core/openpos-core.iml
openpos-devices-client/openpos-devices-client.iml
openpos-devices/openpos-devices.iml
openpos-flow/openpos-flow.iml
openpos-gradle/openpos-gradle.iml
openpos-persist/openpos-persist.iml
openpos-server-core/openpos-server-core.iml
openpos-service/openpos-service.iml
openpos-test-module/openpos-test-module.iml
openpos-translate/openpos-translate.iml
openpos-util/openpos-util.iml
openpos-wrapper/openpos-wrapper.iml
