<mat-toolbar *ngIf="session.screen" color="primary" class="mat-elevation-z10">
	<div fxFill fxLayout="row" fxLayoutAlign="space-between ">
		<div fxLayout="row" fxLayoutAlign=" center">
			<ng-container *ngIf="session.screen && session.screen.backButton && session.screen.backButton.enabled">
				<button fxHide.xs mat-button style="margin-left:-20px" (click)="session.onAction(session.screen.backButton.action)">
					<mat-icon class="material-icons mat-48">keyboard_arrow_left</mat-icon>
				</button>
				<span fxHide.xs>&nbsp;|&nbsp;</span>
			</ng-container>

			<ng-container *ngIf="session.screen && session.screen.backButton && session.screen.backButton.enabled">
				<button fxHide fxShow.xs mat-icon-button (click)="session.onAction(session.screen.backButton.action)">
					<mat-icon class="material-icons">keyboard_arrow_left</mat-icon>
				</button>
			</ng-container>

			<mat-icon *ngIf="session.screen.icon">{{session.screen.icon}}</mat-icon>
			<span fxHide.xs class="text-sm">&nbsp;{{session.screen.name}}</span>
		</div>

		<div class="home-screen-logo"></div>

		<div fxLayout="row" fxLayoutAlign=" center">
			<ng-container *ngIf="session.screen && session.screen.logoutButton && session.screen.type != 'Home'">
				<button mat-icon-button (click)="doMenuItemAction(session.screen.logoutButton)" [disabled]="!isMenuItemEnabled(session.screen.logoutButton)">
					<app-icon *ngIf="session.screen.logoutButton.icon" [iconName]="session.screen.logoutButton.icon"></app-icon>
				</button>
			</ng-container>

			<button mat-icon-button [matMenuTriggerFor]="itemMenu">
				<mat-icon>help outline</mat-icon>
			</button>
			<mat-menu #itemMenu="matMenu">
				<button mat-menu-item (click)="onAdminLogin()">
					<mat-icon>person</mat-icon>
					<span>Admin Login</span>
				</button>
			</mat-menu>
		</div>

	</div>
</mat-toolbar>