<mat-toolbar *ngIf="session.screen" class="mat-elevation-z8">
	<div fxFill fxLayout="row" fxLayoutAlign="space-between ">
		<div fxLayout="row" fxLayoutAlign=" center">
			<ng-container *ngIf="session.screen && session.screen.backButton && session.screen.backButton.enabled; else checkForLogoutButton">
				<button mat-button style="margin-left:-20px" (click)="doMenuItemAction(session.screen.backButton)">
					<mat-icon class="material-icons mat-48">keyboard_arrow_left</mat-icon>
				</button>
			</ng-container>

			<ng-template #checkForLogoutButton>
				<ng-container *ngIf="session.screen && session.screen.logoutButton && session.screen.type != 'Home'">
					<button mat-button style="margin-left:-20px" (click)="doMenuItemAction(session.screen.logoutButton)">
						<mat-icon class="material-icons mat-48">keyboard_arrow_left</mat-icon>
					</button>
				</ng-container>
			</ng-template>

		</div>

		<div class="home-screen-logo"></div>

		<div fxLayout="row" fxLayoutAlign=" center">
			<button mat-button [matMenuTriggerFor]="itemMenu">
				<mat-icon class="material-icons mat-48">search_id_code</mat-icon>
			</button>
			<mat-menu #itemMenu="matMenu">
				<button mat-menu-item (click)="onAdminLogin()">
					<mat-icon>person</mat-icon>
					<span>Admin Login</span>
				</button>
			</mat-menu>
		</div>

	</div>
</mat-toolbar>