@import '../../styles/mixins/typography';
@include openpos-typography();

.till-count-total-card {
    margin: 0px 24px 24px;
}

.till-count-submit-button {
    //margin-right: 20px;
    margin: 5px 24px;
}

:host ::ng-deep app-counter .label {
    @extend .text-sm;
}
// Left Justify the counter fields and alter width
:host ::ng-deep app-counter .counter {
    justify-content: left;
    width: 40%;
}
:host ::ng-deep app-counter mat-error .error {
    text-align: unset;
}
