<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding:6px">
    <mat-card class="page-content-card">
        <app-dynamic-form-control id="till-form" #tillForm [screenForm]="screen.form" [alternateSubmitActions]="screen.alternateSubmitActions"></app-dynamic-form-control>
    </mat-card>  
    <mat-card class="page-content-card text-left">
        <mat-card-title ngClass="muted-color text-sm" ngClass.xs="text-xs">
                Total
        </mat-card-title>
        <mat-card-content>
            <p class="muted-color text-lg">
                <span class="super-currency-symbol">$</span>{{screen.total}}
            </p>
        </mat-card-content>
    </mat-card>
    <div  fxLayoutAlign="end"  style="padding:10px 0px">
        <button *ngIf="nextAction" type="submit" mat-raised-button color=primary (click)="onNextAction()" form="dynamic-form">
            <span>Next</span>
            <mat-icon class="material-icons">{{nextAction.icon}}</mat-icon>
        </button>
    </div>
</div>