<div fxFlexFill style="background-color:white; padding:16px" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
        <form fxFlexFill fxLayout="column" fxLayoutAlign="center center">
                <mat-card fxFlex="0 0 30%" class="page-content-card lighter scrollable-content-card mat-elevation-z8" fxLayout="column" fxLayoutAlign="start">
                        <mat-card-content>
                            <div fxLayout="column" fxLayoutAlign="center center" class="muted-color">
                                <span class="text-md">{{instructions}}</span>
                                <mat-icon ngClass="material-icons mat-180" color=icon>{{icon}}</mat-icon>
                            </div>
                        </mat-card-content>
                </mat-card>
        </form>
</div>


