<div [ngClass]="session.getTheme()" inactivityMonitor (issueKeepAlive)="session.keepAlive()">
    <div [ngClass]="classes" style="height: 100vh">

        <!-- <button *ngIf="showDevMenu" #devMenuButton class="float" mat-mini-fab color="accent" [matMenuTriggerFor]="devMenu">
            <mat-icon>code</mat-icon>
        </button> -->

        <div *ngIf="showDevMenu">
           
            <mat-expansion-panel>
                <mat-expansion-panel-header (click)="onDevMenuRefresh()">
                  Developer Tools
                </mat-expansion-panel-header>
                <mat-tab-group dynamicHeight>
                    <mat-tab label="State">
                    <div  class="stateTab" >
                    <span>    
                      <h2>Current State: {{currentState}}
                        <button mat-icon-button (click)="onDevMenuRefresh()">
                            <mat-icon aria-label="refresh">refresh</mat-icon>
                        </button>
                    </h2>
                    <h5>Current State Class: <i>{{currentStateClass}}</i></h5>
                    </span>
                    <div class="tab">
                    <div class="panel" layout="row">
                        <mat-card>
                            <mat-accordion multi="true" >
                                <mat-expansion-panel [disabled]="showUpdating">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Connections
                                        </mat-panel-title>
                                        <mat-panel-description *ngIf="showUpdating">
                                            Updating...
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                        <table class="mat-table">
                                                <thead>
                                                    <tr style="text-align:left" class="mat-header-row">
                                                        <th class="mat-header-cell"> Action </th>
                                                        <th class="mat-header-cell"> Destination State </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="mat-row" *ngFor="let action of currentStateActions">
                                                        <td class="mat-cell"> {{action.Action}} </td>
                                                        <td class="mat-cell" > {{action.Destination}} </td>                                                       
                                                    </tr>
                                                </tbody>
                                            </table>
                                </mat-expansion-panel>

                                <mat-expansion-panel [disabled]="showUpdating"> 
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Config Scope
                                        </mat-panel-title>
                                        <mat-panel-description *ngIf="showUpdating">
                                            Updating...
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <table class="mat-table">
                                        <thead>
                                            <tr style="text-align:left" class="mat-header-row">
                                                <th class="mat-header-cell"> ID </th>
                                                <th class="mat-header-cell"> Time Created </th>
                                                <th class="mat-header-cell" style="text-align:center"> StackTrace </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="mat-row" *ngFor="let element of ConfElements">
                                                <td class="mat-cell"> {{element.ID}} </td>
                                                <td class="mat-cell" > {{element.Time}} </td>
                                                <td class="mat-cell" style="text-align:center">
                                                    <button mat-button color="accent" (click)="onStackTrace(element)">View</button>
                                                </td>
                                                <td class="mat-cell-close">
                                                    <button mat-icon-button (click)="onConfRemove(element)">
                                                        <mat-icon aria-label="delete">close</mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-expansion-panel>
                            
                                <mat-expansion-panel [disabled]="showUpdating">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Node Scope
                                        </mat-panel-title>
                                        <mat-panel-description *ngIf="showUpdating">
                                            Updating...
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <table class="mat-table">
                                        <thead>
                                            <tr style="text-align:left" class="mat-header-row">
                                                <th class="mat-header-cell"> ID </th>
                                                <th class="mat-header-cell"> Time Created </th>
                                                <th class="mat-header-cell" style="text-align:center"> StackTrace </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="mat-row" *ngFor="let element of NodeElements">
                                                <td class="mat-cell"> {{element.ID}} </td>
                                                <td class="mat-cell" > {{element.Time}} </td>
                                                <td class="mat-cell" style="text-align:center">
                                                    <button mat-button color="accent" (click)="onStackTrace(element)">View</button>
                                                </td>
                                                <td class="mat-cell-close">
                                                    <button mat-icon-button (click)="onNodeRemove(element)">
                                                        <mat-icon aria-label="delete">close</mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-expansion-panel>

                                <mat-expansion-panel [disabled]="showUpdating">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Session Scope
                                        </mat-panel-title>
                                        <mat-panel-description *ngIf="showUpdating">
                                            Updating...
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                        <table class="mat-table">
                                            <thead>
                                                <tr style="text-align:left" class="mat-header-row">
                                                    <th class="mat-header-cell"> ID </th>
                                                    <th class="mat-header-cell"> Time Created </th>
                                                    <th class="mat-header-cell" style="text-align:center"> StackTrace </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="mat-row" *ngFor="let element of SessElements">
                                                    <td class="mat-cell"> {{element.ID}} </td>
                                                    <td class="mat-cell" > {{element.Time}} </td>
                                                    <td class="mat-cell" style="text-align:center">
                                                        <button mat-button color="accent" (click)="onStackTrace(element)">View</button>
                                                    </td>
                                                    <td class="mat-cell-close">
                                                        <button mat-icon-button (click)="onSessRemove(element)">
                                                            <mat-icon aria-label="delete">close</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </mat-expansion-panel>

                                <mat-expansion-panel [disabled]="showUpdating">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Conversation Scope
                                        </mat-panel-title>
                                        <mat-panel-description *ngIf="showUpdating">
                                            Updating...
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                        <table class="mat-table">
                                            <thead>
                                                <tr style="text-align:left" class="mat-header-row">
                                                    <th class="mat-header-cell"> ID </th>
                                                    <th class="mat-header-cell"> Time Created </th>
                                                    <th class="mat-header-cell" style="text-align:center"> StackTrace </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="mat-row" *ngFor="let element of ConvElements">
                                                    <td class="mat-cell"> {{element.ID}} </td>
                                                    <td class="mat-cell" > {{element.Time}} </td>
                                                    <td class="mat-cell" style="text-align:center">
                                                        <button mat-button color="accent" (click)="onStackTrace(element)">View</button>
                                                    </td>
                                                    <td class="mat-cell-close">
                                                        <button mat-icon-button (click)="onConvRemove(element)">
                                                            <mat-icon aria-label="delete">close</mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </mat-expansion-panel>

                                <mat-expansion-panel [disabled]="showUpdating"> 
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Flow Scope
                                        </mat-panel-title>
                                        <mat-panel-description *ngIf="showUpdating">
                                            Updating...
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <table class="mat-table">
                                        <thead>
                                            <tr style="text-align:left" class="mat-header-row">
                                                <th class="mat-header-cell"> ID </th>
                                                <th class="mat-header-cell"> Time Created </th>
                                                <th class="mat-header-cell" style="text-align:center"> StackTrace </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="mat-row" *ngFor="let element of FlowElements">
                                                <td class="mat-cell"> {{element.ID}} </td>
                                                <td class="mat-cell" > {{element.Time}} </td>
                                                <td class="mat-cell" style="text-align:center">
                                                    <button mat-button color="accent" (click)="onStackTrace(element)">View</button>
                                                </td>
                                                <td class="mat-cell-close">
                                                    <button mat-icon-button (click)="onConfRemove(element)">
                                                        <mat-icon aria-label="delete">close</mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-expansion-panel>

                            </mat-accordion>
                        </mat-card>
                        </div>
                        <div *ngIf="displayStackTrace" class="stacktrace">
                            <mat-card>
                                <mat-card-title>StackTrace - {{selected}}</mat-card-title>
                                <mat-card-content [style.height.px]="'300'" class="stacktrace-content">
                                    {{stackTrace}}
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="clear"></div>
                    </div>
                    </div>
                    </mat-tab>
                    <mat-tab label="Local Storage">
                        <h1>Local Storage</h1>
                        <ul>
                            <li><button mat-button (click)="onPersonalize()">Personalize</button></li>
                            <li><button mat-button (click)="onDevRefreshView()">Refresh View</button></li>
                            <li><button mat-button (click)="onDevClearLocalStorage()">Clear Local Storage</button></li>
                        </ul>
                            <mat-divider></mat-divider>
                            <div fxFlexFill fxLayout="row" fxLayoutAlign="left start" fxLayoutAlign.xs="left">
                                <button mat-button color="primary" (click)="onDevRestartNode()">Restart Node</button>
                            </div>
                      

                    </mat-tab>
                    <mat-tab label="Save Points">
                      <h1>Save Points</h1>

                    </mat-tab>
                    <mat-tab label="Logs">
                        <h1>Logs</h1>
                        <div [style.height.px]="'250'">
                        <ul>
                                <li><button mat-raised-button [matMenuTriggerFor]="logsMenu">Logs</button></li>
                        </ul>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
                
                  <!-- //<div fxFlexFill fxLayout="row" fxLayoutAlign="center start" fxLayoutAlign.xs="center"> -->
                <mat-action-row>
                    <div fxFlexFill fxLayout="row" fxLayoutAlign="left start" fxLayoutAlign.xs="left">
                        <button mat-raised-button color="accent">Create Save Point</button>
                    </div>

                </mat-action-row>
                <!-- </div> -->
            </mat-expansion-panel>
           
           
           
            <!-- <mat-menu #devMenu="matMenu">
                <ng-container *ngIf="logsAvailable">
                    <button mat-menu-item [matMenuTriggerFor]="logsMenu">Logs</button>
                    <mat-divider></mat-divider>
                </ng-container>
                <button mat-menu-item (click)="onPersonalize()">Personalize</button>
                <button mat-menu-item (click)="onDevRefreshView()">Refresh View</button>
                <button mat-menu-item (click)="onDevClearLocalStorage()">Clear Local Storage</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onDevRestartNode()">Restart Node</button>
            </mat-menu> -->

            <mat-menu #logsMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="logShareMenu">Share</button>
                <button mat-menu-item [matMenuTriggerFor]="logUploadMenu">Upload</button>
                <button mat-menu-item [matMenuTriggerFor]="logViewMenu">View</button>
            </mat-menu>

            <mat-menu #logShareMenu="matMenu">
                <button mat-menu-item *ngFor="let m of logFilenames" (click)="onLogfileSelected(m)">{{m}}</button>
            </mat-menu>

            <mat-menu #logUploadMenu="matMenu">
                <button mat-menu-item *ngFor="let m of logFilenames" (click)="onLogfileUpload(m)">{{m}}</button>
            </mat-menu>

            <mat-menu #logViewMenu="matMenu">
                <button mat-menu-item *ngFor="let m of logFilenames" (click)="onLogfileView(m)">{{m}}</button>
            </mat-menu>
        </div>

        <ng-template appTemplate></ng-template>

    </div>
</div>