@import 'app-theme';
@import 'biglots';
@import 'ascena_ann';
@import 'training';
@import './assets/material/material-icons.css';

@include mat-core();

$app-primary: mat-palette($mat-blue, 800, 600, 900);
$app-accent : mat-palette($mat-grey, 800, 600, 900);
$app-warn : mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$mat-card-default-margin: 24px !default;

html, body {
    font-family: Roboto, sans-serif;
    margin:0;
    padding:0;
    height: 100vh; 
    overflow: hidden;    
}

.openpos-theme {

    .main-background {
        height:100vh;        
    }

    .home-screen-logo {
        width: 220px;
        height: 65px;
        background-image: url(assets/jumpmart-logo.png); 
        background-repeat: no-repeat;
        background-position: center;
        top: 2px;
        zoom: 0%; 
        position: absolute; 
        filter: grayscale(1) invert(1) brightness(10);
        -webkit-filter: grayscale(1) invert(1) brightness(10); 
        z-index: 10;
    }    

    @include angular-material-theme($app-theme);
    @include app-theme($app-theme);
}

mat-card.scrollable-content-card{
    .mat-card-content{
        margin-bottom:0px; 
        overflow-y:auto
    }
}

mat-card.page-content-card{
    margin: 0px;
    padding: 0px;

    mat-card-title{
        padding:10px;
        margin: 0px;
    }

    mat-card-content{
        padding:4px;
        margin:0px;
    }
}

.mat-drawer-container{
    padding-bottom:6px;
    
    .mat-drawer-content{
        padding-right:6px;
        padding-left:6px;
        padding-bottom:6px;
    }

    .mat-drawer{
        padding-right:6px;
    }
}

.mat-hint{
    font-size:60%;
}

.mat-list.xs{
    padding:4px;
    .mat-list-item{
        .mat-list-item-content{
            padding:4px;
        }
    }
    .mat-list-item.mat-2-line{
        .mat-list-item-content{
            height:unset;
        }
    }
}

.mat-list.field-list{
    .mat-list-item{
        .mat-line:first-child{
            @extend .text-sm;
            @extend .accent-lighter;
        }
        .mat-line:nth-child(n+2){
           @extend .text-md;
        }
    }
}

.scrollable{
    overflow-y:auto;
    height: 100%;
}

.wrap-text{
    white-space: normal;
}
.text-xs{
    font-size:12px;
}

.text-sm{
    font-size:18px;
}

.text-md{
    font-size:24px;
}

.text-lg{
    font-size:32px;
}

.text-xl{
    font-size:48px;
}


@media( max-width: 600px){
    .text-xs{
        font-size:8px;
    }
    
    .text-sm{
        font-size:14px;
    }
    
    .text-md{
        font-size:18px;
    }
    
    .text-lg{
        font-size:24px;
    }
    
    .text-xl{
        font-size:36px;
    } 
}

.md-toolbar {
    z-index: 10;
}

.mat-card.with-header {
    padding: 0;
}

.pad {
    padding: $mat-card-default-margin;
}

.mat-card.with-header mat-card-content {
    padding: 0 $mat-card-default-margin 0 $mat-card-default-margin;
}

.mat-card {
    margin: $mat-card-default-margin;
    z-index: 10;
}

.mat-raised-button,
.mat-button{
    app-icon{
        position: relative;
        top: 7px;
    }
}

.text-center{
    text-align: center;
}

.material-icons.mat-30 {
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.material-icons.mat-40 {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.material-icons.mat-48 {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

.material-icons.mat-64 {
    font-size: 64px;
    height: 64px;
    width: 64px;
}

.material-icons.mat-128 {
    font-size: 128px;
    height: 128px;
    width: 128px;
}

.material-icons.mat-180{
    font-size: 180px;
    height: 180px;
    width: 180px;
}

// controls sizing of radio button column on static-table template
mat-cell.mat-cell.mat-column-_selection {
    width: 30px;
    flex: 0 0 30px;
}

// controls sizing of radio button column header on static-table template
mat-header-cell.mat-header-cell.mat-column-_selection {
    width: 30px;
    flex: 0 0 30px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c8c8c8;
    font-weight: lighter;
}

.product-list-description {
    font-size: 12px;
}

.item-list-condensed {
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-menu-item-icon {
    position: relative;
    top: 30px;
}
    
.main-menu-item-text {
    top: 10px;
    zoom: 150%;
    font-weight: normal;
}

.main-menu-item {
    flex: 1 1 auto;
    height: 150px;
    width: 150px;
}

.sale-marketing-panel-container {
    background-image: url(assets/marketing-image.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

button.static-table-button.mat-raised-button {
    margin: 5px;
}

.sale-trans-panel-container {
    background-color: #eff0ef;
    padding:14px;
    box-shadow: 8px 10px 27px #000;
    z-index: 1;
}

.sale-line-item {
    border-bottom: dashed 1px;
    border-color: #eff0ef;
    padding: 18px;
}

.sale-line-item-xs{
    padding: 0px;
}

.sale-transaction-container {
    height: 200px;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.line-item-caret {
    color: #c8c8c8;
    // position: relative;
    top: 12px;
    position:absolute;
    right:10px;    
}


.mat-dialog-actions {
    text-align: center;
}

.super-currency-symbol {
    vertical-align: super;
    font-size: 0.5em;
    padding-right: 2px;
}

.prompt-text {
    font-size:60%;
}

.serrated-edge {
    position: relative;
}

.serrated-edge:before {
    z-index: 100;
    background:
        linear-gradient(
            45deg, transparent 33.333%,
            white 33.333%, white 66.667%,
            transparent 66.667%
        ),
        linear-gradient(
            -45deg, transparent 33.333%,
            white 33.333%, white 66.667%,
            transparent 66.667%
        );

    background-size: 10px 20px;      
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 0px;
        width: 100%;
        height: 10px;
}

.serrated-edge-bottom {
    position: relative;
}

.serrated-edge-bottom:after {
    background:
        linear-gradient(
            -45deg,
            white 33.333%,
            transparent 33.333%,
            transparent 66.667%,
            white 66.667%      
        ),
        linear-gradient(
            45deg,
            white 33.333%,
            transparent 33.333%,
            transparent 66.667%,
            white 66.667%      
        );
    
    background-size: 10px 20px;      
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 10px;
}  