<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding-top:6px;">
	<mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card serrated-edge" fxLayout="column" fxLayoutAlign="start">
		<mat-card-content>
			<mat-list class="list-seperator" ngClass.xs="xs">
					<mat-list-item *ngFor="let item of items">
						<p matLine>{{item.description}}</p>
            <p matLine class="accent-lighter">{{item.subtitle}}</p>
            <span [hidden]="!item.isGiftReceipt"><mat-icon color="accent-lighter">redeem</mat-icon></span>
						<span class="primary text-md">{{item.amount|currency:'USD':true:'1.2'}}</span>
						<button mat-icon-button color="primary" [matMenuTriggerFor]="itemMenu">
							<mat-icon>expand_more</mat-icon>
						</button>
						<mat-menu #itemMenu="matMenu">
							<button mat-menu-item *ngFor="let m of item.menuItems" (click)="doMenuItemAction(m, item.index)"
							[disabled]="!isMenuItemEnabled(m)">
							<app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
							<span [ngClass]="{'accent-lighter': ! m.enabled}">{{m.title}}</span>
							</button>
						</mat-menu>
					</mat-list-item>
				</mat-list>
				<div *ngIf="items.length == 0" fxLayout="column" fxLayoutAlign="center center">
					<mat-icon color="accent-lighter" ngClass="material-icons mat-180" ngClass="material-icons mat-128" svgIcon="barcode"></mat-icon>
					<span class="text-md">Scan something to get started.</span>
				</div>
		</mat-card-content>
	</mat-card>

	<div *ngIf="session.screen.transaction.transactionNumber" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center"
	 fxLayoutGap="6px">
		<mat-card fxFlex class="page-content-card text-center">
			<mat-card-title class="accent-lighter text-sm">
				Discounts
			</mat-card-title>
			<mat-card-content>
				<p class="accent-lighter text-lg">
					<span class="super-currency-symbol">$</span>{{session.screen.discountTotal}}</p>
			</mat-card-content>
		</mat-card>
		<mat-card fxFlex class="page-content-card  text-center">
			<mat-card-title class="accent-lighter text-sm">
				Tax
			</mat-card-title>
			<mat-card-content>
				<p class="accent-lighter  text-lg">
					<span class="super-currency-symbol">$</span>{{session.screen.taxTotal}}</p>
			</mat-card-content>
		</mat-card>
		<mat-card fxFlex class="page-content-card text-center">
			<mat-card-title class="accent-lighter text-sm">
				Subtotal
			</mat-card-title>
			<mat-card-content>
				<p class="accent-lighter text-lg">
					<span class="super-currency-symbol">$</span>{{session.screen.subTotal}}</p>
			</mat-card-content>
		</mat-card>
	</div>

	<mat-card *ngIf="session.screen.transaction.transactionNumber" fxFlex="0 0 auto" color="accent" class="page-content-card dark">
		<mat-card-content fxLayout="row" fxLayoutAlign="center center" class="text-lg">
			&nbsp;&nbsp;Total
			<span fxFlex class="text-center" (click)="session.onAction('Checkout','special')">
				<span class="super-currency-symbol">$</span>
				{{session.screen.grandTotal}}</span>
			<button mat-button flexFill color="primary-inverse" style="height:100%; margin:-4px;" [disabled]="!session.screen.transaction.active || items.length == 0"
			 (click)="session.onAction('Checkout')">
				<mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
			</button>
		</mat-card-content>
	</mat-card>
</div>
