<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding-top:6px;">
	<mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card serrated-edge" fxLayout="column" fxLayoutAlign="start">
		<mat-card-content>
			<mat-list class="list-seperator" ngClass.xs="xs">
				<mat-list-item *ngFor="let item of items">
					<p matLine>{{item.description}}</p>
					<p matLine class="muted-color">
						<mat-chip-list>
							{{item.subtitle}}&nbsp;
							<mat-chip *ngFor="let label of item.labels">{{label}} </mat-chip>
						</mat-chip-list>
					</p>

            		<span [hidden]="!item.isGiftReceipt"><mat-icon color="muted-color">redeem</mat-icon></span>
					<span class="primary text-md">{{item.amount|currency:'USD':true:'1.2'}}<br>
						<p [hidden]="!item.discountAmount" class="muted-color text-xs" style="text-align: right; margin:0px; text-decoration:line-through">{{item.originalAmount|currency:'USD':true:'1.2'}}</p>
						<p [hidden]="!item.discountAmount" class="muted-color text-xs" style="text-align: right; margin:0px">( -{{item.discountAmount|currency:'USD':true:'1.2'}} )</p>
					</span>
					<button mat-icon-button color="primary" [matMenuTriggerFor]="itemMenu">
						<mat-icon>expand_more</mat-icon>
					</button>
					<mat-menu #itemMenu="matMenu">
						<button mat-menu-item *ngFor="let m of item.menuItems" (click)="doMenuItemAction(m, item.index)"
							[disabled]="!isMenuItemEnabled(m)">
							<app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
							<span [ngClass]="{'muted-color': ! m.enabled}">{{m.title}}</span>
						</button>
					</mat-menu>
				</mat-list-item>
			</mat-list>
			<div *ngIf="items.length == 0" fxLayout="column" fxLayoutAlign="center center" class="muted-color">
				<mat-icon ngClass="material-icons mat-180" ngClass="material-icons mat-128" color=icon svgIcon="barcode"></mat-icon>
				<span class="text-md">Scan something to get started.</span>
			</div>
		</mat-card-content>
	</mat-card>

	<app-overflow-list fxFlex="0 0 auto"  *ngIf="session.screen.transaction.transactionNumber" [numberItemsToShow]="overFlowListSize | async" [items]="session.screen.totals" ></app-overflow-list>

	<mat-card *ngIf="session.screen.transaction.transactionNumber" fxFlex="0 0 auto" color="accent" class="page-content-card dark">
		<mat-card-content fxLayout="row" fxLayoutAlign="center center" class="text-lg">
			&nbsp;&nbsp;Total
			<span fxFlex class="text-center" (click)="session.onAction('Checkout','special')">
				<span class="super-currency-symbol">$</span>
				{{session.screen.grandTotal}}</span>
			<button mat-button flexFill color="primary-inverse" style="height:100%; margin:-4px;" [disabled]="!session.screen.transaction.active || items.length == 0"
			 (click)="session.onAction('Checkout')">
				<mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
			</button>
		</mat-card-content>
	</mat-card>
</div>
