<mat-nav-list>
    <mat-list-item *ngFor="let i of items" class="sale-line-item" (click)="onItemClick(i, $event)">
        <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
            <div fxFlex="80">
                <div mat-line class="line-item-description">{{i.description}}</div>
                <div mat-line class="line-item-subtitle">{{i.subtitle}}</div>
            </div>

            <div fxFlex>
                <h5 class="middle-align line-item-extended-amt">
                    <span class="super-currency-symbol">$</span>{{i.amount}}
                </h5>
                <mat-icon *ngIf="showItemIcon" class="material-icons line-item-caret">keyboard_arrow_right</mat-icon>
            </div>
            <div *ngIf="showItemMenu">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let menuItem of menuItemActions" (click)="onMenuItemClick(i, menuItem, $event)">
                            <app-icon *ngIf="menuItem.icon" iconName="{{menuItem.icon}}"></app-icon>
                            <span>{{menuItem.title}}</span>
                    </button>
                </mat-menu>
            </div>

        </div>
    </mat-list-item>
</mat-nav-list>