<div fxFlexFill fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="128px">
    <div fxFlex="0 0 auto" fxLayout="column" fxLayoutAlign="center center">
        <div class="text-md text-center payment-title">Order Total</div>
        <div class="text-md text-center payment-balance-due">{{balanceDue|currency:'USD':true:'1.2'}}</div>
    </div>
    <div fxFlex="0 0 auto" class="text-md text-center payment-instructions">
        <p>{{instructions}}</p>
    </div>
    <div fxFlex="1 1 auto">
        <div class="payment-auth-icon"></div>
    </div>
</div>