<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding:6px">
  <app-dynamic-form-control fxFlex #tillForm [screenForm]="session.screen.form" [screen]="session.screen"></app-dynamic-form-control>
  <mat-card fxFlex="0 1 auto" class="page-content-card text-left">
    <mat-card-title ngClass="muted-color text-sm" ngClass.xs="text-xs">
        Total
    </mat-card-title>
    <mat-card-content>
      <p ngClass="muted-color text-lg" ngClass.xs="text-md">
      <span class="super-currency-symbol"></span>{{session.screen.total}}</p>
    </mat-card-content>
  </mat-card>
  <button fxFlex="0 1 auto" fxFlexAlign="end" *ngIf="nextAction" type="submit" mat-button color="primary-inverse" (click)="onNextAction()">
      <span>Next</span>
      <mat-icon class="material-icons">{{nextAction.icon}}</mat-icon>
  </button>
</div>