<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding: 0 16px 0 16px">
  <input fxFlexFill fxFlex #amountInput class="bordered text-md" style="text-align: right" (keyup.enter)="onEnterAmount($event)"
    [(ngModel)]="amountValue" placeholder="{{session.screen.promptPlaceHolderText}}" [textMask]="{mask: numberMask}">
  <mat-card fxFlex="0 0 auto" class="page-content-card scrollable-content-card" fxLayout="column" fxLayoutAlign="start">
    <mat-list *ngIf="items.length > 0" class="list-seperator" ngClass.xs="xs">
      <mat-list-item *ngFor="let item of items">
        <p matLine>{{item.description}}</p>
        <p matLine class="muted-color">{{item.subtitle}}</p>
        <span class="primary text-md">{{item.amount|currency:'USD':true:'1.2'}}</span>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="itemMenu">
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #itemMenu="matMenu">
          <button mat-menu-item *ngFor="let m of session.screen.itemActions" (click)="doMenuItemAction(m, item.index)" [disabled]="!m.enabled">
            <app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
            <span [ngClass]="{'muted-color': ! m.enabled}">{{m.title}}</span>
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card fxFlex class="page-content-card">
    <mat-card-content>
      <p ngClass="muted-color text-lg" ngClass.xs="text-md" style="text-align: right; padding-right: 50px">
        Total:
        <span class="super-currency-symbol"></span>{{totalAmount|currency:session.getCurrencyDenomination():true:'1.2'}}
      </p>
    </mat-card-content>
  </mat-card>

  <ng-container *ngIf="nextAction">
    <div fxLayoutAlign="end">
      <button mat-icon-button (click)="onNextAction()" [appFocus]="true">
        <mat-icon>{{nextAction.icon}}</mat-icon>
      </button>
    </div>
  </ng-container>
</div>