
<div fxFlexFill class="lighter">
    <mat-card fxFlex="1 1 100%">
        <mat-card-title fxLayoutAlign="space-between">
            <div class="header" fxFlex="1 1 auto" fxLayoutAlign="space-between" fxLayout.xs="column">
                <div fxFlex="0 0 50%">
                    <b>{{deviceHeader}}</b>
                </div>
                <div fxFlex="0 0 50%">
                    <b>{{statusHeader}}</b>
                </div>
            </div>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="device-list" *ngFor="let device of devices" fxLayoutAlign="space-between">
                <div fxFlex="0 0 50%">
                    {{device.deviceName}}
                </div>
                <div fxFlex="0 0 50%" [ngClass]="{'success': device.online, 'warn': !device.online}">
                    {{getOnlineString(device)}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
