<app-waffle>
	<app-bacon-strip waffle-header fxFlex="100%"></app-bacon-strip>

	<div waffle-drawer-content class="drawer-content" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="start stretch"
		fxLayoutGap="4px" fxLayoutGap.lg="20px">
		<app-sausage-links waffle-drawer-content></app-sausage-links>
		<div fxFlex="1 1 auto"></div>
	</div>

	<div waffle-body class="body-content" gdAreas="form | status" gdRows="minmax(200px, 100%) auto" gdGap="6px">

		<mat-card gdArea="form" class="page-content-card">
			<mat-card-content>
				<form [formGroup]="formGroup">

					<mat-form-field class="address-field">
						<input matInput autoCompleteAddress (onSelect)="setAddress($event)"
							formControlName="streetAddress" placeholder="Street Address">
					</mat-form-field>

					<mat-form-field class="address-field">
						<input matInput formControlName="addressLine2" placeholder="Address Line 2">
					</mat-form-field>

					<mat-form-field class="address-field">
						<input matInput formControlName="locality" placeholder="City">
					</mat-form-field>

					<mat-form-field class="address-field">
						<input matInput formControlName="state" placeholder="State">
					</mat-form-field>

					<mat-form-field class="address-field">
						<input matInput formControlName="postalCode" placeholder="Postal Code">
					</mat-form-field>

					<mat-form-field class="address-field">
						<input matInput formControlName="country" placeholder="Country">
					</mat-form-field>
				</form>
			</mat-card-content>
			<mat-card-actions align="end">
				<button mat-raised-button type="submit" color=primary (click)="onSubmit()"
					[disabled]="!formGroup.valid">
					<span>Next</span>
					<app-icon [iconName]="'keyboard_arrow_right'" [iconClass]="'material-icons'"></app-icon>
				</button>
			</mat-card-actions>
		</mat-card>

		<app-status-strip gdArea="status" waffle-footer></app-status-strip>
	</div>

</app-waffle>