<app-waffle>
	<app-bacon-strip waffle-header fxFlex="100%"></app-bacon-strip>

	<div waffle-drawer-content class="drawer-content" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="start stretch"
		fxLayoutGap="4px" fxLayoutGap.lg="20px">
		<app-sausage-links waffle-drawer-content></app-sausage-links>
		<div fxFlex="1 1 auto"></div>
	</div>

	<div waffle-body class="body-content" gdAreas="form | status" gdRows="minmax(200px, 100%) auto" gdGap="6px">

		<mat-card gdArea="form" class="page-content-card">
			<mat-card-content>
				<form [formGroup]="formGroup">

					<app-dynamic-form-field *ngIf="streetAddress" autoCompleteAddress [formGroup]="formGroup"
						[formField]="streetAddress" (onFieldChanged)="onFieldChanged($event)"
						(onSelect)="setAddress($event)"></app-dynamic-form-field>

					<app-dynamic-form-field *ngFor="let field of addressParts" [formGroup]="formGroup"
						[formField]="field" (onFieldChanged)="onFieldChanged($event)"></app-dynamic-form-field>

					<mat-error>
						<div id="formErrorsWrapper">
							<app-show-errors #formErrors [control]="form"></app-show-errors>
						</div>
						<div *ngFor="let error of screenForm.formErrors">{{error}}</div>
					</mat-error>
				</form>
			</mat-card-content>
			<mat-card-actions align="end">
				<button *ngIf="screen.submitButton" mat-raised-button type="submit" color=primary (click)="onSubmit()"
					[disabled]="!formGroup.valid">
					<span>{{screen.submitButton.title}}</span>
					<app-icon [iconName]="screen.submitButton.icon" [iconClass]="'material-icons'"></app-icon>
				</button>
			</mat-card-actions>
		</mat-card>

		<app-status-strip gdArea="status" waffle-footer></app-status-strip>
	</div>

</app-waffle>