<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org-jumpmind-openpos-cordova-log-plugin"
    version="0.0.1">
    
    <!-- For documentation on the cordova plugin XML spec see: 
      https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html -->
    
    <name>OpenPOS Cordova Log Plugin</name>
    <description>Cordova plugin for managing the OpenPOS log files in the native device filesystem.</description>
    <keywords></keywords>

    <!-- Other platforms such as android can be added here 
    <platform name="android">
    ...
    </platform>
    -->
     
    <!-- ios -->
    <platform name="ios">
        <!-- Javascript wrapper for the native OpenPOSCordovaLogPlugin.h/.m 
             implementation -->
        <js-module src="www/openpos-cordova-log-plugin.js" name="OpenPOSCordovaLogPlugin">
            <!-- The target attr determines where the Javascript object 
              instance for the plugin is bound at runtime.  When set to
              'cordova.plugins.abc', the plugin will be bound on the 
              cordova object, within the plugins object and would be
              usable by:
                 cordova.plugins.abc.someFunction(xyz);
                 
              If target was istead just 'abc', the object would be bound
              to a global variable named 'abc' and would be accessible by:
                 abc.someFunction(xyz); 
            -->
            <clobbers target="cordova.plugins.openPOSCordovaLogPlugin" />
        </js-module>
        
        <!-- Configuration for this plugin that Cordova will use to include
             in its config.xml file. -->
        <config-file target="config.xml" parent="/*">
            <feature name="OpenPOSCordovaLogPlugin">
                <param name="ios-package" value="OpenPOSCordovaLogPlugin" onload="true" />
            </feature>
        </config-file>

        <!-- Objective C header and implementation for the native integration
        code required to use the OpenPOS Cordova Log iOS API -->
        <header-file src="src/ios/OpenPOSCordovaLogPlugin.h" />
        <source-file src="src/ios/OpenPOSCordovaLogPlugin.m" />
        
        <!-- Extra Files needed 
        <header-file src="lib/.../SomeNativeDependency.h" />
        <source-file src="lib/.../Versions/A/SomeNativeFramework" framework="true" />
        -->
        
        <!-- May need to add other Aurus dependencies here ...
        <framework src="../.../SomeOther.framework" custom="true" embed="true" />
        -->
    </platform>
</plugin>
