<a routerLink="/product-catalog">
<div fxLayout="column" ng-click="homeTapped()" >
    <div class="home-spacer"></div>
    <div class="home-stripe home-stripe-top"></div>
    <div class="home-spacer"></div>
    <div class="home-stripe home-stripe-welcome" [style.lt-md]="{'font-size': '48px;'}">Welcome</div>
    <div class="home-spacer home-stripe-tap"><div class="home-stripe-tap-text">Tap to get started.</div></div>
    <div class="home-stripe home-stripe-bottom"></div>
    <div class="home-spacer" ></div>
</div>
</a>