<div fxFlexFill  style="background-color: white; padding:16px;overflow-y:auto" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
    <app-scan-something class="mat-elevation-z3" *ngIf="session.screen.showScan" fxFlex="0 0 auto" [onEnterCallback]="scanInputCallback" [responseText]="session.response" placeholderText="Scan Something"></app-scan-something>
    
    <mat-card fxFlex class="page-content-card min-height" fxLayout="column" fxLayoutAlign="start">
	        <mat-toolbar color="accent-light" fxFlex="0 0 auto">
            <ng-container *ngIf="session.screen.transaction && session.screen.transaction.transactionNumber">
              <button mat-button ngClass="text-md" ngClass.xs="text-sm" style="margin-left:-26px;" [matMenuTriggerFor]="transactionMenu">
                <span>Transaction #{{session.screen.transaction.transactionNumber}}</span>
                <mat-icon>expand_more</mat-icon></button>
              <mat-menu #transactionMenu="matMenu">
                  <button mat-menu-item *ngFor="let m of session.screen.transactionMenuItems" (click)="doMenuItemAction(m)" 
                  [disabled]="!isMenuItemEnabled(m)">
                  <app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
                  <span [ngClass]="{'accent-lighter': ! m.enabled}">{{m.title}}</span>
                </button>
              </mat-menu>
            </ng-container>
            <div ngClass="text-md" ngClass.xs="text-sm" *ngIf="session.screen.prompt && (!session.screen.transaction || !session.screen.transaction.transactionNumber)">
              {{session.screen.prompt}}
            </div>
            <span fxFlex="1 1 auto"></span>
            <span *ngIf="session.screen && session.screen.localMenuItems && session.screen.localMenuItems.length">
              <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
            </span>
          </mat-toolbar>
          <mat-drawer-container fxFlex>
              <mat-drawer #drawer position="end" [mode]="drawerMode | async" [opened]="drawerOpen | async">
                <mat-list>
                  <mat-list-item *ngFor="let m of session.screen.localMenuItems"  (click)="doMenuItemAction(m)">
                      <button mat-button color="primary">
                          <app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
                          <span>&nbsp;{{m.title}}</span>
                      </button>
                  </mat-list-item>
                </mat-list>
              </mat-drawer>
              <mat-drawer-content>
                  <ng-template appScreen></ng-template>
              </mat-drawer-content>
            </mat-drawer-container>
      </mat-card>
</div>