/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$md-card-default-margin: 24px !default;

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 0px;
}

md-card {
    margin: $md-card-default-margin;
    display: block;
    position: relative;
  }

.main-background {
    height:100vh;
    background-image: url(assets/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu-container {
    height:100vh;
     background-color:transparent;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c8c8c8;
    font-weight: lighter;
}

.prompt-input {
    font-size:48px;
  //  height:20px;
    margin:0;
    padding-left: 63px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.prompt-input-scan-something {
    font-size:22px;
    margin:10;
    padding-left: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(100% - 92px)
}

.prompt-icon {
    position:absolute;
    bottom:42px;
    left:10px;
    color: #2371ad;
    font-size:48px;
}

.prompt-text {
    color: #2371ad;
    font-size:20px;
}

.prompt-input-container {
    position:relative;
    padding:0;
    margin:0;
}

.main-menu {
    max-width: 768px;
    padding: 0px !important;
}

.prompt-container {
    min-width: 520px;
    height: 320px;
    bottom: 100px;
}

.statusbar-container {
    background-color: #696969; 
    color: white;
    height: 42px;
    z-index: 0;
}

.statusbar-text {
    color: white;
    font-size: 12px;
    padding-right: 20px;    
}

.statusbar-icon {
    position: relative;
    top: 6px;
    font-size:30px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 7px;
}
.status-bar-logout-icon {
    left: -30px;
}

.statusbar-backbutton {
        position: relative;
    top: 11px;
    font-size:16px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 15px;
}

.main-menu-item {
    padding: 50px;
    height: 150px;
    width: 150px;
    background-color: #2371ad;
}


.main-menu-item-icon {
    position: relative;
    top: 30px;
    color: white;
}

.main-menu-item-text {
    position: relative;
    top: 65px;
    color: #c8c8c8;
    font-weight: normal;

}

.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.material-icons.md-64 {
    font-size: 64px !important;
    height: 64px !important;
    width: 64px !important;
}

.sale-marketing-panel-container {
    height:100vh;
    background-image: url(assets/marketing-image.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.sale-total-button {
    padding: 50px;
    height: 55px;
    width: calc(100% - 13px);  
    background-color: #2371ad;
}

.sale-total-text {
    color: white;
    font-size: 36px;
}

.sale-total-checkout-text {
    color: white;
    font-weight: lighter;
}
.sale-total-checkout-container {
    background-color: #40413f;
    width: 160px;
    min-height: 0;
    height: 55px;
    padding-left: 40px;
    line-height: 28px;
    position: relative;
    left: 15px;
}

.sale-trans-panel-container {
    background-color: #eff0ef;
    height:100vh;
    padding-left: 14px;
     box-shadow: 8px 10px 27px #000;
    z-index: 1;
}

.sale-total-icon {
    padding-top: 4px;
    color: white;
}

.sub-totals-outer-container {
    width: calc(100% - 15px);
}

.subtotals-container {
    text-align: center;
    height:45px;
    margin: 0px;
    padding: 12px !important;
    
}

.subtotals-label {
    color: #537889;
    font-size: 12px;
}

.subtotals-amount {
    color: #537889;
    font-size: 32px;
    font-weight: lighter;
    position: relative;
    bottom: 32px;
}

.sale-line-item-container {
    height: calc(100% - 336px);
    width: calc(100% - 64px);
    font-size: 14px;
    margin: 0px;
}

.sale-line-item-container-content {
    overflow-y: auto;
    height: 100%;
}

.line-item-caret {
    color: #c8c8c8;
    position: relative;
    top: 25px;
}

.line-item-description {
    font-weight: bold;
}

.line-item-subtitle {
    color: #c8c8c8;
}

.line-item-extended-amt {
    font-size: 1.1em;
    color: #2371ad;
    padding-right: 20px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.hamburger-button {
    position: relative;
    
    line-height: 0 !important;
}

.hamburger-icon {
    color: white;
}
