@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue, A200, A100, A400);
$app-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

$md-card-default-margin: 24px !default;

html, body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    height:100%;
    min-height:100vh;
    margin:0;
    overflow: hidden;
}

md-card {
    margin: $md-card-default-margin;
    display: block;
    position: relative;
}

.toolbar-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}  

.main-background {
    height:100vh;
    background-image: url(assets/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu-container {

     height:100vh;
     //background-color:transparent;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c8c8c8;
    font-weight: lighter;
}

.prompt-input {
    font-size:48px;
  //  height:20px;
    margin:0;
    padding-left: 63px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(100% - 73px)
}

.prompt-input-scan-something {
    font-size:22px;
    margin:10;
    padding-left: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: calc(100% - 92px)
}

.prompt-icon {
    position:absolute;
    bottom:42px;
    left:10px;
    color: #2371ad;
    font-size:48px;
}

.prompt-text {
    color: #2371ad;
    font-size:20px;
}

.prompt-input-container {
    position:relative;
    padding:0;
    margin:0;
}

.main-menu {
    max-width: 768px;
    padding: 0px !important;
}

.prompt-container {
    min-width: 520px;
    max-width: 570px;
    
    height: 320px;
    bottom: 100px;
    background-color:#f0f0f0;
}

.prompt-input-container-small {

    top:10px;
    min-width: 300px;
    max-width: 570px;    
    height: 200px;
}

.statusbar-container {
    background-color: #696969; 
    color: white;
    height: 42px;
    z-index: 0;
}

.statusbar-text {
    color: white;
    font-size: 12px;
    padding-right: 20px;    
}

.statusbar-icon {
    position: relative;
    top: 6px;
    font-size:30px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 7px;
}
.status-bar-logout-icon {
    left: -30px;
}

.statusbar-backbutton {
        position: relative;
    top: 11px;
    font-size:16px;
    z-index: 1;
    padding-left: 10px;
    padding-right: 15px;
}

.main-menu-item {
    padding: 50px;
    height: 150px;
    width: 150px;
    background-color: #2371ad;
}


.main-menu-item-icon {
    position: relative;
    top: 30px;
    color: white;
}

.main-menu-item-text {
    position: relative;
    top: 65px;
    color: #c8c8c8;
    font-weight: normal;

}

.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.material-icons.md-64 {
    font-size: 64px !important;
    height: 64px !important;
    width: 64px !important;
}

.sale-marketing-panel-container {
    height:100vh;
    background-image: url(assets/marketing-image.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.sale-total-button {
    padding: 50px;
    height: 55px;
    width: calc(100% - 13px);  
    background-color: #2371ad;
}

.sale-total-text {
    color: white;
    font-size: 36px;
}

.sale-total-checkout-text {
    color: white;
    font-weight: lighter;
}
.sale-total-checkout-container {
    background-color: #40413f;
    width: 160px;
    min-height: 0;
    height: 55px;
    padding-left: 40px;
    line-height: 28px;
    position: absolute;
    right: 0px;
}

.sale-total-checkout-container.xs {
    background-color: red;
}

.xs.sale-total-checkout-container {
    background-color: red;
}

.sale-total-checkout-container-small {
    width: 120px;
}

.sale-total-checkout-container-dimmed {
    background-color:rgba(0, 0, 0, 0.0);
}

.sale-trans-panel-container {
    background-color: #eff0ef;
    height:100vh;
    padding-left: 14px;
     box-shadow: 8px 10px 27px #000;
    z-index: 1;
}

.sale-total-icon {
    padding-top: 4px;
    color: white;
}

.sub-totals-outer-container {
    position: relative;
    top: 4px;
    width: calc(100% - 15px);
}

.subtotals-container {
    text-align: center;
    height:45px;
    margin: 0px;
    padding: 12px !important;
    
}

.subtotals-label {
    color: #537889;
    font-size: 12px;
}

.subtotals-amount {
    color: #537889;
    font-size: 32px;
    font-weight: lighter;
    position: relative;
    bottom: 32px;
}

.subtotals-amount-dimmed {
    color:    #c8c8c8;
}

.sale-line-item {
    border-bottom: dashed 1px;
    border-color: #eff0ef;
    padding: 18px;
}
.sale-line-item-container {
    height: calc(100% - 297px);
    width: calc(100% - 16px);
    font-size: 14px;
    margin: 0px;
    top: 10px;
    padding: 0px !important;
}

.sale-line-item-container-list {
}

.sale-line-item-container-content {
    overflow-y: auto;
    height: 100%;
}

.sale-line-item-container-no-content {
    overflow-y: hidden;
    height: 95%;
    font-size: 36px;
    color: #537889;
    font-weight: lighter;
}

.line-item-caret {
    color: #c8c8c8;
    position: relative;
    top: 29px;
}

.line-item-description {
    font-weight: bold;
}

.line-item-subtitle {
    color: #c8c8c8;
}

.line-item-extended-amt {
    font-size: 1.1em;
    color: #2371ad;
    padding-right: 20px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app-sidenav {
  padding: 20px;
}

.hamburger-button {
    position: relative;
    
    line-height: 0 !important;
}

.hamburger-icon {
    color: white;
}
.serrated-edge {
    position: relative;
  }

.serrated-edge:before {
    background:
    linear-gradient(
      45deg, transparent 33.333%,
      white 33.333%, white 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      white 33.333%, white 66.667%,
      transparent 66.667%
    );

  background-size: 10px 20px;      
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
    height: 10px;
  }

  .serrated-edge-bottom {
    position: relative;
  }

.serrated-edge-bottom:after {
    background:
    linear-gradient(
      -45deg,
      white 33.333%,
      transparent 33.333%,
      transparent 66.667%,
      white 66.667%      
    ),
    linear-gradient(
      45deg,
      white 33.333%,
      transparent 33.333%,
      transparent 66.667%,
      white 66.667%      
    );
    
  background-size: 10px 20px;      
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 10px;
  }  

  .choose-options-title {
    color: #537889;  
    font-size: 1.5em;
  }
 
.choose-options-item-dimmed {
    color:    #c8c8c8;
}
  
.line-item-detail-title {
    font-weight: bold;
    text-transform: lowercase;
    color: #537889;
}

.line-item-detail-header-container {
    background-color: #eff0ef;   
}
.line-item-detail-title::first-letter {
    text-transform: uppercase;
}

.line-item-detail-header {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #537889;
}

.line-item-detail-image {
    padding-right: 30px;
    zoom: 50%;
    // width: 256px !important;
    // height: 256px !important;
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding: 10px;
}

.line-item-detail-actions {
    text-align: right;
}

.mat-dialog-actions {
    text-align: center;
}

.super-currency-symbol {
    vertical-align: super;
    font-size: 0.5em;
    padding-right: 2px;
}

.home-screen-logo {
        width: 296px;
        height: 74px;
        background-image: url(assets/jumpmart-logo.png); 
        background-repeat: no-repeat;
        background-size: cover;
        zoom: 70%;
        position: absolute;
        top:75px;
        right:50px;
}
