<mat-card class="with-header" style="height: calc(100% - 114px)" [style.xs]="{'height': 'calc(100% - 54px)', 'margin': '0'}">
    <mat-card-title>
        <mat-toolbar color="accent">
            Item Search
            <div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
                <button style="top: 28px" *ngFor="let submitAction of submitActionNames" (click)="onSubmitAction(submitAction)" [color]="submitAction === defaultActionName ? 'primary':''"
                    mat-fab>
                    <mat-icon aria-label="Search Now">search</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field *ngFor="let field of searchFieldForm.formElements" style="width: 100%;">
            <input matInput placeholder="{{field.placeholder}}" [(ngModel)]="field.value" (keyup.enter)="onSubmitAction('enter')">
        </mat-form-field>
        <div fxLayout="row" fxLayoutWrap fxLayoutAlign=" center">
            <ng-container *ngFor="let category of searchCategories; let i = index">
                <ng-container *ngFor="let value of searchCategoryValues[i].values; let valueIndex = index">
                    <ng-container *ngIf="value.selected && value.attributes.name !== '<All>'">
                        <button mat-button color="primary" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">{{value.attributes.name}}</button>
                        <mat-icon *ngIf="i < displayCategoryIndex-1" class="material-icons">keyboard_arrow_right</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="value.attributes.name === '<All>'">
                        <button mat-button color="primary" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">Department</button>
                        <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div style="height: calc(100vh - 444px)" [style.xs]="{'height': 'calc(100vh - 384px)'}">
            <div class="scrollable">
                <ng-container *ngFor="let category of searchCategories; let i = index">
                    <ng-container *ngIf="i===displayCategoryIndex">
                        <mat-nav-list>
                            <ng-container *ngFor="let value of searchCategoryValues[i].values">
                                <mat-list-item *ngIf="value.attributes.name !== '<All>'" style="border-color: black" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">
                                    <span>{{value.attributes.name}}</span>
                                    <mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
                                </mat-list-item>
                            </ng-container>
                        </mat-nav-list>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </mat-card-content>
</mat-card>