<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px">
    <mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card" fxLayout="column" fxLayoutAlign="start">
        <mat-card-title>
            <div fxLayout="row" fxLayoutWrap fxLayoutAlign=" center">
                <ng-container *ngFor="let category of searchCategories; let i = index">
                    <ng-container *ngFor="let value of searchCategoryValues[i].values; let valueIndex = index">
                        <ng-container *ngIf="value.selected && value.attributes.name !== '<All>'">
                            <button mat-button color="primary" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">{{value.attributes.name}}</button>
                            <mat-icon *ngIf="i < displayCategoryIndex-1" class="material-icons">keyboard_arrow_right</mat-icon>
                        </ng-container>
                        <ng-container *ngIf="value.attributes.name === '<All>'">
                            <button mat-button color="primary" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">Department</button>
                            <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div>
                <ng-container *ngFor="let category of searchCategories; let i = index">
                    <ng-container *ngIf="i===displayCategoryIndex">
                        <mat-nav-list>
                            <ng-container *ngFor="let value of searchCategoryValues[i].values">
                                <mat-list-item *ngIf="value.attributes.name !== '<All>'" style="border-color: black" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">
                                    <span>{{value.attributes.name}}</span>
                                    <mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
                                </mat-list-item>
                            </ng-container>
                        </mat-nav-list>
                    </ng-container>
                </ng-container>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="0 0 auto" class="page-content-card" fxLayout="column" fxLayoutAlign="start">
        <mat-card-content>
            <div class="pad">
                <mat-form-field *ngFor="let field of searchFieldForm.formElements" style="width: 100%;">
                    <input matInput placeholder="{{field.placeholder}}" [(ngModel)]="field.value" (keyup.enter)="onSubmitAction('enter')">
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>