<!-- TODO: discuss with team to fix -->
<ng-container *ngIf="session.screen.name === 'CHANGE_PASSWORD'; else existingMarkupBlock">
	<mat-card class="with-header">
		<mat-card-content style="padding: 0;" (keyup.enter)="onEnter($event)">
			<mat-toolbar color="accent">
				{{session.screen.form.name}}
				<div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
					<button style="top: 28px" *ngIf="session.screen.itemAction" (click)="onItemAction(session.screen.itemAction, $event)" color="primary"
						mat-fab>
						<mat-icon>{{session.screen.itemAction.icon}}</mat-icon>
					</button>
				</div>
			</mat-toolbar>
			<div class="pad">
				<div class="scrollable">
					<ng-container *ngFor="let formElement of session.screen.form.formElements">
						<div *ngIf="formElement.elementType==='Input'">
							<mat-form-field *ngIf="['AlphanumericText', 'NumericText'].indexOf(formElement.inputType) >= 0" style="width:100%">
								<input [(ngModel)]="formElement.value" #field="ngModel" matInput placeholder="{{getPlaceholderText(formElement)}}" [pattern]="formElement.pattern"
									[required]="formElement.required">
								<ng-container *ngIf="field.invalid && (field.dirty || field.touched)">
									<mat-error div *ngIf="field.errors.required">
										* is required.
									</mat-error>
									<mat-error *ngIf="field.errors.pattern">
										* did not follow the designated pattern
									</mat-error>
								</ng-container>
							</mat-form-field>
							<mat-form-field *ngIf="'AlphanumericPassword' === formElement.inputType" style="width:100%">
								<input [(ngModel)]="formElement.value" #field="ngModel" matInput placeholder="{{getPlaceholderText(formElement)}}" 
								[required]="formElement.required" type="password">
								<ng-container *ngIf="field.invalid && (field.dirty || field.touched)">
									<mat-error div *ngIf="field.errors.required">
										* is required.
									</mat-error>
								</ng-container>
							</mat-form-field>
							<mat-form-field *ngIf="formElement.inputType === 'ComboBox'">
								<mat-select (change)="onComboBoxSelectionChange(formElement, $event)" placeholder="{{getPlaceholderText(formElement)}}">
									<mat-option *ngFor="let value of formElement.values; let valueIndex=index" [value]="valueIndex">{{value}}</mat-option>
								</mat-select>
							</mat-form-field>
							<ng-container *ngIf="formElement.inputType === 'SubmitOptionList'">
								<label class="prompt-text">{{formElement.label}}</label>
								<mat-nav-list>
									<mat-list-item *ngFor="let value of formElement.values; let valueIndex=index" 
										(click)="onSubmitOptionSelected(formElement, valueIndex, $event)" 
										style="border-color: black">{{value}}
										<mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
									</mat-list-item>
								</mat-nav-list>
							</ng-container>
				
						</div>
						<div *ngIf="formElement.elementType==='Display'">
							<mat-form-field style="width:100%">
								<label class="prompt-text">{{formElement.label}}</label>
								<input [(ngModel)]="formElement.value" #field="ngModel" matInput disabled>
							</mat-form-field>
						</div>
						<ng-container *ngIf="formElement.elementType==='Separator'">
							<mat-divider></mat-divider>
						</ng-container>
					</ng-container>
				</div>
			</div>
		</mat-card-content>
		<ng-container *ngIf="formButtons && formButtons.length === 1 && formButtons[0].icon; else buttonElseBlock">
			<mat-card-actions align="end" style="padding-right:20px">
				<button mat-icon-button (click)="onButtonAction(formButtons[0].buttonAction)" [appFocus]="true">
					<mat-icon>{{formButtons[0].icon}}</mat-icon>
				</button>
			</mat-card-actions>
		</ng-container>
		<ng-template #buttonElseBlock>
			<mat-card-actions>
				<ng-container *ngFor="let button of formButtons">
					<button mat-raised-button [color]="'primary'" (click)="onButtonAction(button.buttonAction)">{{button.label}}</button>
				</ng-container>
			</mat-card-actions>
		</ng-template>
	</mat-card>
</ng-container>
<ng-template #existingMarkupBlock> 
<mat-card class="with-header" style="height: calc(100% - 114px)" [style.xs]="{'height': 'calc(100% - 54px)', 'margin': '0'}">
	<mat-card-content style="padding: 0;" (keyup.enter)="onEnter($event)">
		<mat-toolbar color="accent">
			{{session.screen.form.name}}
            <div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
                <button style="top: 28px" *ngIf="session.screen.itemAction" (click)="onItemAction(session.screen.itemAction, $event)" color="primary"
                    mat-fab>
                    <mat-icon>{{session.screen.itemAction.icon}}</mat-icon>
                </button>
            </div>
		</mat-toolbar>
		<div class="pad" style="height:calc(100vh - 220px);" [style.xs]="{'height': 'calc(100vh - 160px)'}">
			<div class="scrollable">
				<ng-container *ngFor="let formElement of session.screen.form.formElements">
					<div *ngIf="formElement.elementType==='Input'">
						<mat-form-field *ngIf="['AlphanumericText', 'NumericText'].indexOf(formElement.inputType) >= 0" style="width:100%">
							<input [(ngModel)]="formElement.value" #field="ngModel" matInput placeholder="{{getPlaceholderText(formElement)}}" [pattern]="formElement.pattern"
							 [required]="formElement.required">
							<ng-container *ngIf="field.invalid && (field.dirty || field.touched)">
								<mat-error div *ngIf="field.errors.required">
									* is required.
								</mat-error>
								<mat-error *ngIf="field.errors.pattern">
									* did not follow the designated pattern
								</mat-error>
							</ng-container>
						</mat-form-field>
						<mat-form-field *ngIf="'AlphanumericPassword' === formElement.inputType" style="width:100%">
							<input [(ngModel)]="formElement.value" #field="ngModel" matInput placeholder="{{getPlaceholderText(formElement)}}" 
							[required]="formElement.required" type="password">
							<ng-container *ngIf="field.invalid && (field.dirty || field.touched)">
								<mat-error div *ngIf="field.errors.required">
									* is required.
								</mat-error>
							</ng-container>
						</mat-form-field>
						<mat-form-field *ngIf="formElement.inputType === 'ComboBox'">
							<mat-select (change)="onComboBoxSelectionChange(formElement, $event)" placeholder="{{getPlaceholderText(formElement)}}">
								<mat-option *ngFor="let value of formElement.values; let valueIndex=index" [value]="valueIndex">{{value}}</mat-option>
							</mat-select>
						</mat-form-field>
						<ng-container *ngIf="formElement.inputType === 'SubmitOptionList'">
							<label class="prompt-text">{{formElement.label}}</label>
							<mat-nav-list>
								<mat-list-item *ngFor="let value of formElement.values; let valueIndex=index" 
									(click)="onSubmitOptionSelected(formElement, valueIndex, $event)" 
									style="border-color: black">{{value}}
									<mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
								</mat-list-item>
							</mat-nav-list>
						</ng-container>
			
					</div>
					<div *ngIf="formElement.elementType==='Display'">
						<mat-form-field style="width:100%">
							<label class="prompt-text">{{formElement.label}}</label>
							<input [(ngModel)]="formElement.value" #field="ngModel" matInput disabled>
						</mat-form-field>
					</div>
					<ng-container *ngIf="formElement.elementType==='Separator'">
						<mat-divider></mat-divider>
					</ng-container>
				</ng-container>
			</div>
		</div>
	</mat-card-content>
	<ng-container *ngIf="formButtons && formButtons.length === 1 && formButtons[0].icon; else buttonElseBlock">
		<mat-card-actions align="end">
			<button mat-icon-button (click)="onButtonAction(formButtons[0].buttonAction)" [appFocus]="true">
				<mat-icon>{{formButtons[0].icon}}</mat-icon>
			</button>
		</mat-card-actions>
	</ng-container>
	<ng-template #buttonElseBlock>
		<mat-card-actions>
			<ng-container *ngFor="let button of formButtons">
				<button mat-raised-button [color]="'primary'" (click)="onButtonAction(button.buttonAction)">{{button.label}}</button>
			</ng-container>
		</mat-card-actions>
	</ng-template>
</mat-card>
</ng-template>