<div fxLayoutAlign="center center" class="prompt-container-outer" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center">
    <mat-card class="prompt-container" ngClass.xs="prompt-container-xs" [style.md]="{'width': '65%'}" [style.sm]="{'width': '85%'}">
        <mat-card-content class="prompt-card-content">
            <div *ngFor="let menuItem of menuItems">
                <button mat-raised-button class="main-menu-item" (click)="session.onAction(menuItem.action)">
                    <app-icon iconName="{{menuItem.icon}}" iconClass="material-icons mat-64 main-menu-item-icon"></app-icon>
                    <p class="main-menu-item-text" [style.xs]="{'zoom': '150%', 'top': '10px'}">{{menuItem.title}}</p>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="home-screen-logo"></div>
</div>

<!-- style="min-height: 460px" [style.sm]="{'min-height': 'initial'}" -->
<!--  style="height: 200px; width:250px;" -->