<div *ngIf="session.screen.type==='Form' && session.screen.screenSubtype==='login'" class="page-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center" [style.xs]="{'height': '100%'}">
    <mat-card class="prompt-card-content" ngClass.xs="prompt-container-xs" [style.md]="{'width': '50%'}" [style.sm]="{'width': '75%'}">
        <mat-card-title *ngIf="title">{{title}}</mat-card-title>
		<mat-card-content class="prompt-card-content">
            <mat-form-field style="width:100%">
                <input [(ngModel)]="loginIdField.value" #loginField="ngModel" matInput placeholder="{{loginIdField.placeholder}}" [pattern]="loginIdField.pattern"
                    [required]="loginIdField.required" (keyup.enter)="onOkButton()">
            </mat-form-field>
            <mat-form-field style="width:100%">
                <input type="password" [(ngModel)]="passwordField.value" #passwdField="ngModel" matInput placeholder="{{passwordField.placeholder}}" [pattern]="passwordField.pattern"
                    [required]="passwordField.required" (keyup.enter)="onOkButton()">
             </mat-form-field>
             <mat-card-actions>
                <button mat-raised-button (click)="session.response=form; session.onAction(cancelButton.buttonAction)">{{cancelButton.label}}</button>
                <button mat-raised-button [color]="'primary'" (click)="onOkButton()" (keyup.enter)="onOkButton()">{{okButton.label}}</button>
            </mat-card-actions>
		</mat-card-content> 
    </mat-card>
</div>