<div class="page-content" fxLayout="row" fxLayoutAlign="start stretch">
	<div class="sale-trans-panel-container" fxFlex fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
		
		<mat-card fxFlex="0 0 auto" class="sale-trans-panel-title-bar" fxLayout="row" fxLayoutAlign="start center">
				<ng-container *ngIf="session.screen.transaction.transactionNumber">
					Transaction #{{session.screen.transaction.transactionNumber}}
				</ng-container>
				<ng-container *ngIf="!session.screen.transaction.transactionNumber">
					Transaction Not Started
				</ng-container>
					<span fxFlex></span>
				<ng-container *ngIf="session.screen && session.screen.menuActions && session.screen.menuActions.length > 0">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
			
					<mat-menu #menu="matMenu">
						<button mat-menu-item *ngFor="let m of session.screen.menuActions" (click)="doMenuItemAction(m)" 
							[disabled]="!isMenuItemEnabled(m)">
							<app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
							<span [ngClass]="{'menu-item-dimmed': ! m.enabled}">{{m.title}}</span>
						</button>
					</mat-menu>
				</ng-container>
		</mat-card>

		<mat-card fxFlex="0 0 auto" class="prompt-input-container">
			<app-scan-something [onEnterCallback]="scanInputCallback" [responseText]="session.response" placeholderText="Scan Something"></app-scan-something>
		</mat-card>

		<mat-card fxFlex="1 0 auto" class="sale-line-item-container serrated-edge"  fxLayout="column" fxLayoutAlign="start">
			<mat-card-content fxFlex="1 1 auto" style="margin-bottom:0px; overflow-y:scroll">
					<mat-nav-list disableRipple=true>
						<app-product-list [items]="items" (itemClick)="onItemClick($event)"></app-product-list>
					</mat-nav-list>
					<div *ngIf="items.length == 0" fxLayout="column" fxLayoutAlign="center center">
						<mat-icon color="accent-lighter" class="material-icons mat-180" svgIcon="barcode"></mat-icon>
						<span style="font-size:18px">Scan something to get started.</span>
					</div>
			</mat-card-content>
			<mat-card-content fxFlex="0 0 auto" class="lookup-customer-button" ngStyle.xs="font-size:18px" fxAlign="end" fxLayout="row" fxLayoutAlign="start center">
					<mat-icon color="primary" class="material-icons mat-48">person</mat-icon>
					<ng-container *ngIf="!session.screen.customer">&nbsp;Lookup&nbsp;Customer</ng-container>
					<ng-container *ngIf="session.screen.customer">{{session.screen.customer.name}}</ng-container>
					<span fxFlex></span>
					<button mat-button color="primary" (click)="session.onAction('LookupCustomer')" style="text-align:right">
						<mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
					</button>
			</mat-card-content>
		</mat-card>

		<div *ngIf="session.screen.transaction.transactionNumber" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
			<mat-card fxFlex class="subtotals-container">
				<mat-card-title class="subtotals-label">
						Discounts
				</mat-card-title>
				<mat-card-content>
					<p class="subtotals-amount" [ngClass]="{'subtotals-amount-dimmed':items.length == 0}" ngStyle.xs="font-size:24px">
						<span class="super-currency-symbol">$</span>{{session.screen.discountTotal}}</p>
				</mat-card-content>
			</mat-card>
			<mat-card fxFlex class="subtotals-container">
				<mat-card-title class="subtotals-label">
						Tax
				</mat-card-title>
				<mat-card-content>
					<p class="subtotals-amount" [ngClass]="{'subtotals-amount-dimmed':items.length == 0}" ngStyle.xs="font-size:24px">
						<span class="super-currency-symbol">$</span>{{session.screen.taxTotal}}</p>
				</mat-card-content>
			</mat-card>
			<mat-card fxFlex class="subtotals-container">
				<mat-card-title class="subtotals-label">
						Subtotal
				</mat-card-title>
				<mat-card-content>
					<p class="subtotals-amount" [ngClass]="{'subtotals-amount-dimmed':items.length == 0}" ngStyle.xs="font-size:24px"> 
						<span class="super-currency-symbol">$</span>{{session.screen.subTotal}}</p>
				</mat-card-content>
			</mat-card>
		</div>

		<mat-card *ngIf="session.screen.transaction.transactionNumber" fxFlex="0 0 auto" class="sale-total-checkout-container" fxLayout="row" fxLayoutAlign="center center">
			Total
			<span fxFlex style="text-align: center">			
				<span class="super-currency-symbol">$</span>
				{{session.screen.grandTotal}}</span>
			<button mat-button flexFill color="primary-inverse" style="height:100%" [disabled]="!session.screen.transaction.active || items.length == 0"
			(click)="session.onAction('Checkout')">
				<mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
			</button>
		</mat-card>

	</div>

	<div class="sale-marketing-panel-container" fxFlex="40" fxHide.xs fxHide.sm>

	</div>

</div>