<div *ngIf="session.screen.type==='SignatureCapture'" fxLayout="column" fxLayoutAlign="center center">
    <mat-card [style.gt-sm]="{'width': '65%'}" [style.sm]="{'width': '75%'}" [style.xs]="{'width': '85%','top': 'initial'}">
		<mat-card-content>
			<div style="margin-bottom:10px" fxLayout="row" fxLayoutAlign=" center">
				<mat-icon *ngIf="session.screen.textIcon" class="material-icons prompt-icon-with-label" style="margin-right:5px">{{session.screen.textIcon}}</mat-icon>
				<label class="prompt-text">{{session.screen.text}}</label>
			</div>
			<div id="signature-pad" fxLayout="column">
				<canvas style="background-color: white;"></canvas>
			</div>
		</mat-card-content>

		<mat-card-actions id="signature-actions" style="margin-left:0px;margin-right0px">
			<div fxLayout="row" fxLayoutAlign="space-between">
				<button mat-raised-button (click)="onClearSignature()">Clear</button>
				<div *ngFor="let m of session.screen.menuItems">
					<button *ngIf="m.action === 'SaveSignature'; else elseBlock" mat-raised-button (click)="onSaveSignature()">{{m.title}}</button>
					<ng-template #elseBlock><button mat-raised-button (click)="session.onAction(m.action)">{{m.title}}</button></ng-template>
				</div>
		    </div>
     	</mat-card-actions>
	</mat-card>
</div>
