<mat-card class="with-header" style="height: calc(100% - 114px)" [style.xs]="{'height': 'calc(100% - 54px)', 'margin': '0'}">
    <mat-card-title>
        <mat-toolbar color="accent">
            {{text}}
            <div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
                <button style="top: 28px" *ngFor="let m of session.screen.buttons; let i = index" (click)="onAction(m.action)" [color]="i===0?'primary':''"
                    mat-fab>
                    <mat-icon aria-label="Add">add</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content style="height: calc(100% - 100px)" [style.xs]="{'height': 'calc(100% - 54px)', 'margin': '0', 'padding': '0'}">
            <div class="scrollable">
                <mat-table #table [dataSource]="dataSource">
                    <ng-container *ngFor="let columnId of columnIds" matColumnDef="{{columnId}}">
                        <!-- If there is a '_selection' column present, don't add a header label for it -->
                        <mat-header-cell *matHeaderCellDef>{{columnId !== '_selection' ? columnsById[columnId].headerLabel : ''}}</mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="onSelectRow(row.index)">
                            <div *ngIf="columnId === '_selection'; else elseBlock">
                                <mat-radio-button [value]="row.index" [checked]="isRowSelected(row.index)" (click)="onSelectRow(row.index)"></mat-radio-button>
                            </div>
                            <ng-template #elseBlock>{{row.values[columnsById[columnId].index]}}</ng-template>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="columnIds"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnIds;"></mat-row>
                </mat-table>
            </div>
    </mat-card-content>
</mat-card>