<mat-toolbar *ngIf="session.screen" color="primary" class="mat-elevation-z10">
	<div fxFill fxLayout="row" fxLayoutAlign="space-between ">
		<div fxLayout="row" fxLayoutAlign=" center">

			<button *ngIf="session.screen && session.screen.backButton && session.screen.backButton.enabled" mat-icon-button (click)="session.onAction(session.screen.backButton.action)">
				<mat-icon class="material-icons">arrow_back</mat-icon>
			</button>

			<ng-container *ngIf="session.screen && session.screen.workstation">
				<ng-container *ngIf="session.screen && session.screen.storeStatus && session.screen.storeStatus.enabled">
					<div fxHide.xs>
						<mat-icon *ngIf="session.screen.storeStatus.title === 'Open'" class="material-icons statusbar-icon">location_on</mat-icon>
					</div>
					<div fxHide.xs>
						<mat-icon *ngIf="session.screen.storeStatus.title === 'Open'" class="material-icons" style="width:0px;position:relative;left: -28px;top:4px;color:#18b220; z-index: 0;">fiber_manual_record</mat-icon>
					</div>
					<div fxHide.xs>
						<mat-icon *ngIf="session.screen.storeStatus.title !== 'Open'" class="material-icons statusbar-icon statusbar-icon-off">location_off</mat-icon>
					</div>
					<div fxHide.xs>
						<p class="statusbar-text">Store #{{session.screen.workstation.storeId}}</p>
					</div>
				</ng-container>

				<div style="width:10px"></div>

				<ng-container *ngIf="session.screen && session.screen.registerStatus && session.screen.registerStatus.enabled">
					<div fxHide.xs>
						<mat-icon *ngIf="session.screen.registerStatus.title === 'Open'" class="material-icons statusbar-icon">location_on</mat-icon>
					</div>
					<div fxHide.xs>
						<mat-icon *ngIf="session.screen.registerStatus.title === 'Open'" class="material-icons" style="width:0px;position:relative;left: -28px;top:4px;color:#18b220; z-index: 0;">fiber_manual_record</mat-icon>
					</div>
					<div fxHide.xs>
						<mat-icon *ngIf="session.screen.registerStatus.title !== 'Open'" class="material-icons statusbar-icon statusbar-icon-off">location_off</mat-icon>
					</div>
					<div fxHide.xs>
						<p class="statusbar-text">Register #{{session.screen.workstation.workstationId}}</p>
					</div>

				</ng-container>
			</ng-container>

			<div fxHide.xs>
			    <mat-icon *ngIf="session.screen && session.screen.transaction && session.screen.transaction.transactionNumber" class="material-icons statusbar-icon">receipt</mat-icon>
			</div>			
			<p *ngIf="session.screen && session.screen.transaction && session.screen.transaction.transactionNumber" class="statusbar-text" [style.xs]="{'font-size': '10px'}">Transaction #{{session.screen.transaction.transactionNumber}}</p>
		</div>

		<div fxLayout="row"  fxLayoutAlign=" center">
			<div *ngIf="session.screen && session.screen.operatorName" fxLayout="row" fxLayoutAlign=" center">
				<mat-icon class="material-icons">lock_open</mat-icon>
				<p class="statusbar-text" [style.xs]="{'font-size': '10px'}">Signed in as
					<span style="font-weight: bold">{{session.screen.operatorName}}</span>
				</p>
			</div>
			<ng-container *ngIf="session.screen && session.screen.menuActions && session.screen.menuActions.length > 0">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
		
				<mat-menu #menu="matMenu">
					<button mat-menu-item *ngFor="let m of session.screen.menuActions" (click)="doMenuItemAction(m)" 
						[disabled]="!isMenuItemEnabled(m)">
						<app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
						<span [ngClass]="{'menu-item-dimmed': ! m.enabled}">{{m.title}}</span>
					</button>
				</mat-menu>
			</ng-container>
		</div>

	</div>
</mat-toolbar>