<div class="page-content"  fxLayout="row" fxLayoutAlign="start stretch">
        <div class="sale-trans-panel-container" fxFlex fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="row" fxLayoutAlign="center stretch"  fxLayoutGap="16px">
                    <mat-card fxFlex class="page-content-card text-center">
                        <mat-card-title ngClass="accent-lighter text-sm" ngClass="text-xs">
                                Balance Due
                        </mat-card-title>

                        <mat-card-content ngClass="accent-lighter text-lg" ngClass.xs="text-md">
                                <span class="super-currency-symbol">$</span>{{balanceDue}}
                        </mat-card-content>
                    </mat-card>

                    <mat-card fxFlex class="page-content-card text-center">
                        <mat-card-content>
                            <mat-form-field>
                                <input matInput #field="ngModel" style="text-align:right" (keyup.enter)="onEnterTender($event)" 
                                  [(ngModel)]="tenderAmount.value" placeholder="{{tenderAmount.placeholder}}" [pattern]="tenderAmount.pattern" [required]="tenderAmount.required"
                                  [textMask]="{mask: numberMask}">

                                <span matPrefix>$&nbsp;</span> <!-- TODO: localize symbol and errors -->
                                <ng-container *ngIf="field.invalid && (field.dirty || field.touched)">
                                    <mat-error *ngIf="field.errors.required" class="text-sm">
                                        * Value is required.
                                    </mat-error>
                                    <mat-error *ngIf="field.errors.pattern" class="text-sm">
                                        * Please enter a valid amount.
                                    </mat-error>
                                </ng-container>
        
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                        
            </div>
    
            <mat-card fxFlex class="sale-transaction-container">
                <mat-card-title>
                    <mat-toolbar color="accent">
                        {{text}}
                        <div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
                            <button mat-fab style="top: 28px; margin-left: 10px;" *ngFor="let menuAction of session.screen.menuItems" [color]="primary" 
                              (click)="onMenuAction(menuAction.action)" [disabled]="! tenderAmount.value">
                                <app-icon [iconName]="menuAction.icon"></app-icon>
                            </button>
                        </div>
                    </mat-toolbar>
                </mat-card-title>
    
                <mat-card-content class="sale-line-item-container-content" fxLayout="column" fxLayoutAlign="space-between">
                    <div class="scrollable">
                        <mat-selection-list>
                            <app-product-list [items]="tenderItems" (itemClick)="onItemSelected($event)" [selectionMode]="'Single'" 
                              [showItemIcon]="false" [showItemMenu]="false"></app-product-list>
                        </mat-selection-list>
                        <div *ngIf="tenderItems.length == 0" class="sale-line-item-container-no-content" [style.sm]="{'font-size': '16px'}" [style.xs]="{'font-size': '16px'}"
                        fxLayout="column" fxLayoutAlign="center center">
                            <app-icon iconName="credit_card" style="color:#c8c8c8" iconClass="mat-128"></app-icon>
                           Completed tenders will appear here.
                       </div>
   
                    </div>
                </mat-card-content>
    
            </mat-card>
    
    
        </div>
    
        <div class="sale-marketing-panel-container" fxFlex="40" fxHide.xs fxHide.sm>
    
        </div>
    
    </div>