<div class="page-content" fxLayout="row" fxLayoutAlign="start stretch">
	<div class="sale-trans-panel-container"  fxFlex fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">
		<mat-card fxFlex="0 0 auto" class="page-content-card text-center">
			<mat-card-content>
				<mat-card-title ngClass="accent-lighter text-sm" ngClass="text-xs">Total Warranty Cost</mat-card-title>
				<mat-card-content>
						<p ngClass="accent-lighter text-lg" ngClass.xs="text-md">
							<span class="super-currency-symbol">$</span>{{warrantyCostTotal}}</p>
					</mat-card-content>
			</mat-card-content>
		</mat-card>

		<mat-card fxFlex class="sale-transaction-container">
			<mat-card-title>
				<mat-toolbar color="accent">
					{{text}}
					<div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
						<button mat-fab style="top: 28px; margin-left: 10px;" *ngFor="let menuAction of session.screen.menuItems" [color]="primary" (click)="onMenuAction(menuAction.action)">
							<mat-icon>{{menuAction.icon}}</mat-icon>
						</button>
					</div>
				</mat-toolbar>
			</mat-card-title>

			<mat-card-content class="sale-line-item-container-content" fxLayout="column" fxLayoutAlign="space-between">
				<div class="scrollable">
					<mat-selection-list>
						<app-product-list [items]="warrantyItems" (itemClick)="onItemSelected($event)" [selectionMode]="'Multiple'" [showItemIcon]="false"></app-product-list>
					</mat-selection-list>
				</div>
			</mat-card-content>

		</mat-card>


	</div>

	<div class="sale-marketing-panel-container" fxFlex="40" fxHide.xs fxHide.sm>

	</div>

</div>