<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px">

		<mat-card fxFlex="0 0 auto" class="page-content-card text-center">
			<mat-card-content>
				<mat-card-title ngClass="accent-lighter text-sm" ngClass="text-xs">Total Warranty Cost</mat-card-title>
				<mat-card-content>
						<p ngClass="accent-lighter text-lg" ngClass.xs="text-md">
							<span class="super-currency-symbol">$</span>{{warrantyCostTotal}}</p>
					</mat-card-content>
			</mat-card-content>
		</mat-card>

		<mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card serrated-edge" fxLayout="column" fxLayoutAlign="start">
			<mat-card-content fxFlex="1 1 auto">
				<div class="scrollable">
					<mat-selection-list>
						<app-product-list [items]="warrantyItems" (itemClick)="onItemSelected($event)" [selectionMode]="'Multiple'" [showItemIcon]="false"></app-product-list>
					</mat-selection-list>
				</div>
			</mat-card-content>

		</mat-card>
</div>