<form fxFlex="1 1 auto" (ngSubmit)="submitForm()" [formGroup]="form" novalidate [markDirtyOnSubmit]="form" fxLayout="column" >
    <mat-card-title *ngIf="screen.prompt && screen.template === 'Blank'" [ngClass]="{'warn':screen.customerFacing}">{{screen.prompt}}</mat-card-title>    
    <mat-card fxFlex="1 1 auto" class="scrollable-content-card" fxLayout="column" fxLayoutAlign="start">
                <mat-card-content fxFlex="1 1 auto"  fxLayout="column" >
                <app-dynamic-form-field *ngFor="let field of screenForm.formElements" [formGroup]="form" [formField]="field" (onFieldChanged)="onFieldChanged($event)"></app-dynamic-form-field>
                <mat-error>
                    <app-show-errors [control]="form"></app-show-errors>	
                </mat-error>	
            </mat-card-content>
            <div fxFlex="1 1 auto"></div>
            <mat-card-actions fxFlex="0 0 auto"  align=end>
                <button type="submit" mat-raised-button color=primary *ngIf="session.screen.submitAction">
                    <span>{{submitButtonText}}</span>
                    <mat-icon class="material-icons">keyboard_arrow_right</mat-icon>
                </button>
            </mat-card-actions>
    </mat-card>
</form>
