:host:first-of-type
  {
    mat-button-toggle-group {
      margin-bottom:15px;  
    }
  }
  
:host:last-of-type
  {
    mat-button-toggle-group {
      margin-top:15px;
    }
  }
  
:host:not(:last-of-type):not(:first-of-type)
  {
    mat-button-toggle-group {
      margin-top:15px;
      margin-bottom:15px;
    }
  }

textarea {
  line-height: 1.5em;
}