<div [formGroup]="formGroup">

    <mat-button-toggle-group *ngIf="formField.inputType==='ToggleButton'" [formControlName]="formField.id" (change)="onFormElementChanged(formField)" >
        <mat-button-toggle *ngFor="let value of values | async" [value]="value">
          {{value}}
        </mat-button-toggle>
    </mat-button-toggle-group> 

    <ng-container *ngIf="formField.elementType==='Input' && formField.inputType != 'ToggleButton'">
        <mat-form-field style="width:100%" [ngSwitch]="formField.inputType">

            <input *ngSwitchDefault matInput [formControlName]="formField.id" [formControl]="formGroup.controls[formField.id]" 
                [placeholder]="getPlaceholderText(formField)" [formatterName]="formField.inputType" [required]="formField.required"
                (change)="onFormElementChanged(formField)" [attr.minlength]="formField.minLength" [attr.maxlength]="formField.maxLength">

            <input *ngSwitchCase="'AlphanumericPassword'" matInput [formControlName]="formField.id"  [placeholder]="getPlaceholderText(formField)"
                type="password" [required]="formField.required">

            <mat-select  *ngSwitchCase="'ComboBox'" [formControlName]="formField.id" [placeholder]="getPlaceholderText(formField)" (change)="onFormElementChanged(formField)" [required]="formField.required">
                <mat-option *ngFor="let value of values | async" [value]="value">{{value}}</mat-option>
            </mat-select>

            <textarea *ngSwitchCase="'TextArea'" style="width:50%" [value]="formField.value" [name]="formField.id" [placeholder]="getPlaceholderText(formField)" 
                matInput matTextareaAutosize matAutosizeMinRows="2" [disabled]="formField.disabled" [required]="formField.required"></textarea>

            <!--We should probably deprectate this since it is only used for the void options screen on biglots and 
            there is probably a better way to do it now.-->
            <ng-container *ngSwitchCase="'SubmitOptionList'">
                <label class="prompt-text">{{formField.label}}</label>
                <mat-nav-list>
                    <mat-list-item *ngFor="let value of values | async; let valueIndex=index" (click)="onSubmitOptionSelected(formField, valueIndex, $event)"
                    style="border-color: black">{{value}}
                    <mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
                    </mat-list-item>
                </mat-nav-list>
            </ng-container>
            
            <mat-error>
                <app-show-errors [control]="formGroup.controls[formField.id]"></app-show-errors>
            </mat-error>
        </mat-form-field>
			
    </ng-container>

    <ng-container *ngIf="formField.elementType==='Display'">
        <mat-form-field style="width:100%">
            <input [value]="formField.value" [name]="formField.id" [placeholder]="formField.label" matInput readonly=true>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="formField.elementType==='Separator'">
        <mat-divider></mat-divider>
    </ng-container>

</div>