<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding-top:6px">
    <mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card serrated-edge" fxLayout="column" fxLayoutAlign="start">
        <mat-card-content fxFlex="1 1 auto">
            <div *ngIf="session.screen && session.screen.icon" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon color="accent-lighter" class="material-icons mat-180">{{session.screen.icon}}</mat-icon>
                <span style="font-size:18px">{{session.screen.instructions}}</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>