<div fxFlexFill fxLayout="row" fxLayoutAlign="start" fxLayoutGap="6px">

	<div *ngIf="receipts && receipts.length > 0" style="overflow-y: auto;">
		<app-receipt-card *ngFor="let receipt of receipts" [receipt]="receipt" (click)="onReceiptClick(receipt)"></app-receipt-card>
	</div>

	<div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px">

		<app-transaction-item-list [listConfig]="listConfig" [selectedItems]="selectedItems" [selectedItemIndexes]="screen.selectedItemIndexes"
		 [multiSelectedMenuItems]="screen.multiSelectedMenuItems" [transactionMenuItems]="screen.transactionMenuItems"
		 [prompt]="screen.transactionMenuPrompt" [readOnly]="screen.readOnly" (selectedItemListChange)="onItemListChange($event)"
		 (menuAction)="onMenuAction($event)">
		</app-transaction-item-list>

		<app-overflow-list *ngIf="items && items.length > 0" fxFlex="0 0 auto" [numberItemsToShow]="overFlowListSize | async"
		 [items]="amountTotals"></app-overflow-list>

		<mat-card *ngIf="screen.transaction" fxFlex="0 0 auto" class="page-content-card dark">
			<mat-card-content gdAreas="items total button" gdColumns="auto 1fr auto" class="text-lg">
				<div gdArea="items" gdGridAlign="center center" class="text-md">{{itemTotal}} Item{{itemTotal !== 1 ?
					's' : ''}}</div>
				<div gdArea="total" gdGridAlign="center center">
					<span class="text-right">Total&nbsp;</span>
					<span [ngClass]="{'text-center': !screen.readOnly, 'text-right': screen.readOnly}">
						<app-currency-text [amountText]="screen.grandTotal"></app-currency-text>
					</span>
				</div>
				<button gdArea="button" *ngIf="!screen.readOnly" mat-button color="primary-inverse" [disabled]="!screen.transaction.active || items.length == 0"
				 (click)="session.onAction('Return')">
					<span class="text-md">Next</span>
					<mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
				</button>
			</mat-card-content>
		</mat-card>
	</div>
</div>