<mat-card-title fxLayout="row" gdAreas="header backbutton">
    <div gdArea="header" gdAreas="headerIcon headerText" gdColumns="1fr 9fr">
        <app-icon gdArea="headerIcon" gdGridAlign="center center" *ngIf="screenData.headerIcon" class="screen-icon" [iconName]="screenData.headerIcon"></app-icon>
        <span gdArea="headerText">{{screenData.headerText}}</span>
    </div>
    <div gdArea="backbutton">
        <div fxFlex="1 1 100%"></div>
        <button  *ngIf="screenData.backButton"
                mat-icon-button class="back-button" 
                (click)="onMenuItemClick(screenData.backButton)"
                [actionItem]="screenData.backButton">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-card-title>