<div style="height: 100vh;">
    <md-card>
        <md-card-title>{{searchFieldForm.name}}</md-card-title>
        <md-card-content>
            <md-form-field *ngFor="let field of searchFieldForm.formElements" style="width: 100%;">
                <input mdInput placeholder="{{field.placeholder}}" [(ngModel)]="field.value">
            </md-form-field>
        </md-card-content>
        <md-card-actions>
            <button *ngFor="let submitAction of submitActionNames" (click)="onSubmitAction(submitAction)" [color]="submitAction === defaultActionName ? 'primary':''"
                md-raised-button>
                {{submitAction}}
            </button>
        </md-card-actions>
    </md-card>

    <md-card style="height: calc(100% - 470px)">
        <md-card-content style="height: calc(100% - 40px)">
            <div fxLayout="row" fxLayoutWrap fxLayoutAlign=" center">
                <ng-container *ngFor="let category of searchCategories; let i = index">
                    <ng-container *ngFor="let value of searchCategoryValues[i].values; let valueIndex = index">
                        <ng-container *ngIf="value.selected && value.attributes.name !== '<All>'">
                            <button md-button (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">{{value.attributes.name}}</button>
                            <md-icon *ngIf="i < displayCategoryIndex-1" class="material-icons">keyboard_arrow_right</md-icon>
                        </ng-container>
                        <ng-container *ngIf="value.attributes.name === '<All>'">
                            <button md-button (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">Department</button>
                            <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                        </ng-container>

                    </ng-container>
                </ng-container>
            </div>
            <div class="scrollable">
                <ng-container *ngFor="let category of searchCategories; let i = index">
                    <ng-container *ngIf="i===displayCategoryIndex">
                        <md-nav-list>
                            <ng-container *ngFor="let value of searchCategoryValues[i].values">
                                <md-list-item *ngIf="value.attributes.name !== '<All>'" style="border-color: black" (click)="onValueSelected(value, searchCategoryValues[i].attributes.name)">
                                    <span>{{value.attributes.name}}</span>
                                    <md-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</md-icon>
                                </md-list-item>
                            </ng-container>
                        </md-nav-list>
                    </ng-container>
                </ng-container>
            </div>
        </md-card-content>
    </md-card>

</div>