<ng-container *ngIf="session.dialog">
  <div #test class="modal-header">
    <h4 md-dialog-title>{{session.dialog.title}}</h4>
  </div>
  <div md-dialog-content>
    <p *ngFor="let m of session.dialog.message">{{m}}</p>
  </div>
  <div md-dialog-actions>
    <button *ngFor="let m of session.dialog.buttons; let i = index" [id]="'button-' + i" md-button md-dialog-close="{{m.action}}"
      class="" [disabled]="!m.enabled" [autofocus]="i===0" [appFocus]="i===0">{{m.title}}</button>
  </div>
</ng-container>