<ng-template #content let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">{{session.screen.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c(); session.onAction(navActions[0].action) " [disabled]="navActions && navActions.length>1">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngFor="let m of session.screen.message">{{m}}</p>
  </div>
  <div class="modal-footer">
      <button *ngFor="let m of navActions" class="btn btn-primary mt-2 mr-2"
			[disabled]="!m.enabled" (click)="c(); session.onAction(m.action)">{{m.text}}</button>
  </div>
</ng-template>