<ng-container *ngIf="session.screen.type==='Form'">
	<mat-card>
		<mat-card-title fxLayout="row">
			<span fxFlex="<grow>">{{session.screen.form.name}}</span>
			<div fxFlex *ngIf="itemActions && itemActions.length > 0">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item *ngFor="let menuItem of itemActions" (click)="onItemAction(menuItem, $event)">
						<app-icon *ngIf="menuItem.icon" iconName="{{menuItem.icon}}"></app-icon>
						<span [ngClass]="{'menu-item-dimmed': ! menuItem.enabled}">{{menuItem.title}}</span>
					</button>
				</mat-menu>
			</div>
		</mat-card-title>
		<mat-card-content style="max-height: 850px; overflow-y: auto;">						
			<ng-container *ngFor="let formElement of session.screen.form.formElements">
				<div *ngIf="formElement.elementType==='input'">
					<mat-input-container style="width:100%">
						<input [(ngModel)]="formElement.value" #field="ngModel" matInput placeholder="{{formElement.label + ' - ' + formElement.placeholder}}"
						 [pattern]="formElement.pattern" required>
						<ng-container *ngIf="field.invalid && (field.dirty || field.touched)">
							<mat-error div *ngIf="field.errors.required">
								* is required.
							</mat-error>
							<mat-error *ngIf="field.errors.pattern">
								* did not follow the designated pattern
							</mat-error>
						</ng-container>
					</mat-input-container>
				</div>
				<div *ngIf="formElement.elementType==='display'">
					<mat-input-container  style="width:100%">
					    <label class="prompt-text">{{formElement.label}}</label>
						<input [(ngModel)]="formElement.value" #field="ngModel" matInput disabled>
					</mat-input-container>
				</div>				
			</ng-container>
			<ng-container *ngFor="let formElement of session.screen.form.formElements">
				<div *ngIf="formElement.elementType==='button'">
					<button mat-raised-button [color]="'primary'" (click)="session.response=form; session.onAction(formElement.buttonAction)">{{formElement.label}}</button>
				</div>
			</ng-container>

		</mat-card-content>
	</mat-card>
</ng-container>