<div *ngIf="session.screen.type==='Home'"  fxLayoutAlign="center center" class="main-menu-container" [style.xs]="{'height': '100vh', 'overflow-y':'auto'}">        
    <mat-card class="main-menu" >
        <mat-card-content style="min-height: 460px" [style.sm]="{'min-height': 'initial'}">
            <mat-grid-list  [gutterSize]="gutterSize" [cols]="gridColumns" rowHeight="240px" >
                <mat-grid-tile style="padding: 10px;" *ngFor="let menuItem of menuItems">
                    <div fxLayout="column" style="height: 200px; width:250px;" fxLayoutAlign="center center">
                        <button mat-raised-button class="main-menu-item" (click)="session.onAction(menuItem.action)" fxLayoutAlign="center center">
                            <app-icon iconName="{{menuItem.icon}}" iconClass="material-icons mat-64 main-menu-item-icon"></app-icon>
                            <p class="main-menu-item-text" [style.xs]="{'zoom': '150%', 'top': '10px'}">{{menuItem.title}}</p>
                        </button>
                    </div>                      
                </mat-grid-tile>
                <!-- TODO: remove when done experimenting with item search
                <mat-grid-tile>
                        <div fxLayout="column" style="height: 200px; width:250px;" fxLayoutAlign="center center">
                            <a href="/inquiry">Inquiry</a>
                            </div>                      
                        </mat-grid-tile>                                 
        -->
             </mat-grid-list>
    
        </mat-card-content>
    </mat-card>
    <div class="home-screen-logo" ></div>
</div>
