<div *ngIf="session.screen.type==='Home'"  fxLayoutAlign="center center" class="main-menu-container" [style.xs]="{'height': '100vh', 'overflow-y':'auto'}">		
		<md-card class="main-menu" >
				<md-card-content style="min-height: 460px" [style.sm]="{'min-height': 'initial'}">
					<md-grid-list  [gutterSize]="gutterSize" [cols]="gridColumns" rowHeight="240px" >

						<md-grid-tile style="padding: 10px;" *ngFor="let menuItem of menuItems">
								<div fxLayout="column" style="height: 200px; width:250px;" fxLayoutAlign="center center">
																<button md-raised-button class="main-menu-item" (click)="session.onAction(menuItem.action)" fxLayoutAlign="center center">
																	<md-icon class="material-icons md-64 main-menu-item-icon">{{menuItem.icon}}</md-icon>
																	<p class="main-menu-item-text" [style.xs]="{'zoom': '150%', 'top': '10px'}">{{menuItem.title}}</p>
																		</button>
															</div>                      
						</md-grid-tile> 								
					</md-grid-list>	
				</md-card-content>
			</md-card>
	<div class="home-screen-logo" [style.sm]="{'right': 'initial', 'top': '10px','zoom': '50%', '-webkit-filter': 'grayscale(1) invert(1) brightness(10)'}" [style.xs]="{'right': 'initial', 'top': '10px','zoom': '50%', '-webkit-filter': 'grayscale(1) invert(1) brightness(10)'}"></div>
</div>
