    <div style="height: 100vh;">
        <md-card style="height: calc(100% - 140px)">
            <md-card-title>{{text}}</md-card-title>
            <md-card-content style="height: calc(100% - 40px)">
                <div class="scrollable">
                    <app-product-list 
                        [showItemIcon]="! isItemClickDisabled()" 
                        [items]="items" 
                        (itemClick)="isItemClickDisabled() || onItemClick($event)"
                        [showItemMenu]="itemActions.length > 0"
                        [menuItemActions]="itemActions"
                        (menuItemClick)="onMenuItemClick($event)">
                    </app-product-list>
                </div>
            </md-card-content>
        </md-card>
    </div>
