<div *ngIf="session.screen.type==='PromptWithOptions'"> 
    <mat-card>
        <mat-card-content>
            <label class="prompt-text">{{promptText}}</label>
            <app-prompt-input [placeholderText]="session.screen.placeholderText" [responseType]="session.screen.responseType"
                [promptIcon]="session.screen.promptIcon" [onEnterCallback]="promptInputCallback"></app-prompt-input>
            <mat-nav-list>
                <!-- material doesn't yet support enable/disable of mat-list-item, workaround ... -->
                <mat-list-item *ngFor="let o of optionItems" (click)="o.enabled && session.onAction(o.value)" style="border-color: black">
                    <span *ngIf="!o.enabled; else elseBlock" class="choose-options-item-dimmed">{{o.displayValue}}</span>
                    <ng-template #elseBlock>{{o.displayValue}}</ng-template>
                    <mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
                </mat-list-item>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
</div>