<div class="container">
    <h5 class="mb-1 mt-2">{{item.description}}</h5>
    <div class="p-2">
        <div class="container mb-2">
            <div class="row">
                <div class="col-4">
                    <img *ngIf="item.imageUrl" class="img-thumbnail" [src]="item.imageUrl" />
                </div>
                <div class="col-md">
                    <p>{{item.productDescription}}</p>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{item.itemId}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.extendedAmount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="session.screen.itemActions" class="m-2">
        <button *ngFor="let m of session.screen.itemActions" class="btn btn-info btn-lg p-1 btn-block" (click)="session.onAction(m.action)">{{m.title}}</button>
    </div>
</div>