<div fxLayout="row" fxLayoutAlign="center center">
	<div class="sale-trans-panel-container" fxFlex>
		<div class="containerX sub-totals-outer-container" fxLayout="row" fxLayoutAlign="center center">
			<div fxFlex style="padding:12px;">
				<mat-card class="subtotals-container" style="position:relative;">
					<mat-card-content>
						<p class="subtotals-label">Total Warranty Cost</p>
						<p class="subtotals-amount" [ngClass]="{'subtotals-amount-dimmed':warrantyItems.length == 0}">
							<span class="super-currency-symbol">$</span>{{warrantyCostTotal}}</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>

		<mat-card class="sale-transaction-container">
			<mat-card-title>
				<mat-toolbar color="accent">
					{{text}}
					<div style="width: 100%" fxLayout="row" fxLayoutAlign="end ">
						<button mat-fab style="top: 28px; margin-left: 10px;" *ngFor="let menuAction of session.screen.menuActions" [color]="primary" (click)="onMenuAction(menuAction.action)">
							<mat-icon>{{menuAction.icon}}</mat-icon>
						</button>
					</div>
				</mat-toolbar>
			</mat-card-title>

			<mat-card-content class="sale-line-item-container-content" fxLayout="column" fxLayoutAlign="space-between">
				<div class="scrollable">
					<mat-selection-list>
						<app-product-list [items]="warrantyItems" (itemClick)="onItemSelected($event)" [selectionMode]="'Multiple'" [showItemIcon]="false"></app-product-list>
					</mat-selection-list>
				</div>
			</mat-card-content>

		</mat-card>


	</div>

	<div class="sale-marketing-panel-container" fxFlex="40" fxHide.xs fxHide.sm>

	</div>

</div>