.login-card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
}

.login-container-xs {
    width: 100%;
    height: 100%;
    margin:0px;
    padding:20px;
}

.login-dialog-div {
    margin: 0px;
}