<div *ngIf="session.screen.type==='Login'" class="page-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.xs="center" [style.xs]="{'height': '100%'}">
    <mat-card class="login-card-content" ngClass.xs="login-container-xs" [style.md]="{'width': '50%'}" [style.sm]="{'width': '75%'}">
        <mat-card-title *ngIf="title">{{title}}</mat-card-title>
		<mat-card-content class="login-card-content">
            <mat-form-field style="width:100%">
                <input [(ngModel)]="loginIdField.value" #loginField="ngModel" matInput placeholder="{{loginIdField.placeholder}}" [pattern]="loginIdField.pattern"
                    [required]="loginIdField.required" (keyup.enter)="onEnterPressed()">
            </mat-form-field>
            <mat-form-field style="width:100%">
                <input type="password" [(ngModel)]="passwordField.value" #passwdField="ngModel" matInput placeholder="{{passwordField.placeholder}}" [pattern]="passwordField.pattern"
                    [required]="passwordField.required" (keyup.enter)="onEnterPressed()">
            </mat-form-field>
        </mat-card-content> 
        <div *ngIf="changePasswordAction || forgotPasswordAction" fxLayoutAlign="center">
            <button *ngIf="changePasswordAction" mat-button color="primary" (click)="onChangePasswordAction()" [disabled]="! changePasswordAction.enabled">{{changePasswordAction.title}}</button>
            <button *ngIf="forgotPasswordAction" mat-button color="primary" (click)="onForgotPasswordAction()" [disabled]="! forgotPasswordAction.enabled">{{forgotPasswordAction.title}}</button>
        </div>
        <mat-card-actions *ngIf="hasSubmitAction(); else actionsElseBlock" align="end">
            <!-- TODO: handle case with text and no Icon -->
            <button mat-icon-button (click)="onSubmitAction()" [appFocus]="true">
                <mat-icon *ngIf="submitAction">arrow_forward</mat-icon>
            </button>
        </mat-card-actions>
        <ng-template #actionsElseBlock>
            <mat-card-actions>
                <button mat-raised-button (click)="session.response=form; session.onAction(cancelButton.buttonAction)">{{cancelButton.label}}</button>
                <button mat-raised-button [color]="'primary'" (click)="onOkButton()" (keyup.enter)="onOkButton()">{{okButton.label}}</button>
            </mat-card-actions>
        </ng-template>
    </mat-card>
</div>