/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
    font-weight: lighter;
}

body {
    font-family: 'Open Sans',"Helvetica Neue",sans-serif;
    margin: 0px;
    background-color: #e7e7e7; 
}

a, u {
    text-decoration: none;
}

.home-spacer {
    background-color: #e7e7e7;
    height: calc((100vh - ((100vh / 5) * 3))/4 );  
}

.home-spacer {
    background-color: #e7e7e7;
    height: calc((100vh - ((100vh / 5) * 3))/4 );  
}
.home-stripe {
    height: calc(100vh/5);
}

.home-stripe-top {
    background-image: url(/assets/furniture-main.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
}

 .home-stripe-bottom {
    background-image: url(/assets/furniture-main3.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.home-stripe-welcome {
    font-family: 'Open Sans',"Helvetica Neue",sans-serif;
    font-size: 16vh;
    line-height: 1.2em; 
    letter-spacing: 24px;
    text-align: center;
    color: white;
    background-color: #432614;
}

.home-stripe-tap {
    color: #432614;
    font-size: 1.6em;
    text-align: center;
}

.home-stripe-tap-text {
    margin-top: 15px;
}

.product-category {
    width: 225px;
    height: 225px;
    background-repeat: no-repeat;
    background-size: cover;    
    margin: 20px;
    /* position: absolute; */   
}

.product-list-item {
    width: 280px;
    height:280px;
    background-repeat: no-repeat;
    background-size: cover;    
    margin: 15px;
    /* position: absolute; */
    
}

.product-list-item-image {
    /* width: 280px;
    height:280px; */
   width: 100%;
}

.product-categories-container {
      
}


.material-icons.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.material-icons.md-64 {
    font-size: 64px !important;
    height: 64px !important;
    width: 64px !important;
}