<div fxFlexFill fxLayout="column" >
    <app-statusbar [data]="statusBar"></app-statusbar>
    <div fxFlex="1 1 auto" style="padding:16px;overflow-y:auto" fxLayout="column" fxLayoutAlign="start"
    fxLayoutGap="16px">
        <app-scan-something class="mat-elevation-z3" *ngIf="template.template.scan" 
            [scanSomethingData]="template.template.scan"></app-scan-something>
        <div fxFlex="stretch" fxLayout="column" fxLayoutAlign="center">
            <ng-template appScreen></ng-template>
        </div>
    </div>
</div>