@mixin openpos-container{
  .sale-trans-panel-container {
    background-color: #eff0ef;
    padding:14px;
    box-shadow: 8px 10px 27px #000;
    z-index: 1;
  }

  .sale-transaction-container {
      height: 200px;
      font-size: 14px;
      margin: 0px;
      padding: 0px;
  }

  .startup-dialog-container {
    background-color: white;
  }

  .cdk-overlay-container {
      // default Angular value is 1000, but we have the dev menu and 
      // loader at that level. Adjusting value upward so that Angular components
      // such as mat-menu will still render on top when used within our dev menu
      z-index: 1100;  
  }
}
