
<div class="conatinerX">
        <a routerLink="/product-catalog">
            <div style="position: absolute;padding:48px;"><svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#FFF" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
                </svg></div>
        </a>        
            <div class="home-stripe home-stripe-top header-stripe-top" style="margin-bottom: 50px;">Shop Furniture</div>
            <div style="height:100vh !important; overflow-y: auto;">
            <md-grid-list style="height:768px !important;" [gutterSize]="gutterSize" [cols]="gridColumns" rowHeight="428px" >
                    <md-grid-tile style="padding: 10px;" *ngFor="let product of products">
                            <a [routerLink]="['/product-detail/', product.itemId]"  >
                                <md-card class="product-list-item" >        
                                    <img src="{{product.imageUrl}}" class="product-list-item-image"/>                
                                    <p class="product-card-title">{{product.shortDescription}}</p>
                                    <p class="product-card-text">{{product.getAbreviatedLongDescription()}}</p>
                                    <p class="product-card-text product-card-price">${{product.price}}</p>
                                </md-card>
                                    </a>                        
                    </md-grid-tile> 
                    <!-- spacer tiles for scroll... -->               
                    <md-grid-tile></md-grid-tile>
                    <md-grid-tile></md-grid-tile>
                    <md-grid-tile></md-grid-tile>
                    <md-grid-tile></md-grid-tile>

            </md-grid-list>
            </div>


            <!-- <div class="container" style="overflow-x: auto;" >
                    <div fxFlex fxLayout="row" >
                            <a *ngFor="let product of products" [routerLink]="['/product-detail/', product.itemId]"  >
                        <md-card class="product-list-item" >        
                            <img src="{{product.imageUrl}}" class="product-list-item-image"/>                
                            <p class="product-card-title">{{product.shortDescription}}</p>
                            <p class="product-card-text">{{product.getAbreviatedLongDescription()}}</p>
                            <p class="product-card-text product-card-price">${{product.price}}</p>
                        </md-card>
                            </a>
                    </div>
        
            </div> -->
                
        
        </div>