<div class="containerX">
         
        <a routerLink="/product-list">
            <div class="toolbar-back-button">
                <div style="height: calc(100vh*0.05)"></div>
                <svg style="width:48px;height:48px" viewBox="0 0 24 24">
                    <path fill="#FFF" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
                </svg></div>
        </a>   
        <div fxLayout="column" >
            <div fxLayout="row">
                    <div fxFlex style="width:100%;height: calc(100vh*0.15);text-align: center;font-size: 3vh;color: white;background-color: #432614"><div style="height: calc(100vh*0.05)"></div>{{product.shortDescription}}</div>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="center" style="margin: 40px" >
                <div fxFlex="70" > <img src="{{product.imageUrl}}" style="width: 95%"/>
                                        </div>
                <div style="height: calc(100vh - (100vh*0.15))" fxFlex fxLayout="column" fxLayoutAlign="space-around" >
                        <div fxFlex="30" style="color: #432614">{{product.longDescription}}</div>
                        <div fxFlex="15" style="line-height: 5px">
                            <p *ngIf="product.regularPrice">Reg. <span style="text-decoration: line-through;">${{product.regularPrice}}</span></p>
                            <p *ngIf="product.savings" style="font-style: italic;">{{product.savings}}</p>
                            <p style="font-size: 1.75em;text-align: left;">Price ${{product.price}}</p>
                        </div>

                        <button *ngIf="!productInCart" md-raised-button color='primary' fxFlex="12" style="background-color: #432614; width: 100%;color: white;text-align: center;margin-bottom: 40px;padding: 10px"
                            (click)="addProductToCart()">

                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#FFF" d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
                                </svg>
                            
                            <p style="line-height: 5px;">Add to Cart  ></p>
                            </button>

                            <div *ngIf="productInCart" fxLayout="row" fxLayoutAlign="center center space-around">
                                    <svg style="width:24px;height:24px;padding-right:10px;" viewBox="0 0 24 24">
                                            <path fill="#432614;" d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
                                        </svg>                                
                                <p >Your item was added to the cart.</p>
                            </div>
                        
                        <div fxFlex="40"><md-tab-group>
                            <md-tab label="Features">
                                <ul style="list-style-type: square;font-family: 'Open Sans','Helvetica Neue',sans-serif;color: #432614;font-size: 0.9em;">
                                    <li *ngFor="let feature of productFeatures">
                                        {{feature}}
                                    </li>
                                </ul>
                            </md-tab>
                            <md-tab label="Specifications">
                                    <ul style="list-style-type: square;font-family: 'Open Sans','Helvetica Neue',sans-serif;color: #432614;font-size: 0.9em;">
                                            <li *ngFor="let spec of productSpecifications">
                                                {{spec}}
                                            </li>
                                        </ul>
                            </md-tab>
                          </md-tab-group>
                        </div>
                </div>
            </div>
        </div>
         <iframe style="display: none" [src]="sanitizer.bypassSecurityTrustResourceUrl(getRestUrl())"></iframe> 
    </div>
