.min-height{
    min-height: 400px;
}

.bold-text {
    font-weight: bold;
}

.sell-template-menu-button {
    text-align: left;
}

.bold-text {
    font-weight: bold;
}

.scan-or-search{
    margin: 24px;
    height: 55px;
}

.sale-prompt{
    font-size: 24px;
    padding: 0px 24px;
}

.sale-content{
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    place-content: stretch flex-start;
    align-items: stretch;
    flex: 1 1 100%;
    min-height: 50%;
    margin: 0px 24px 8px 24px;
}

.drawer-content{
    padding: 8px;
}
