.min-height{
    min-height: 400px;
}

.bold-text {
    font-weight: bold;
}

.sell-template-menu-button {
    text-align: left;
}

.sell-template-drawer {
    overflow-x: hidden;
    border-left-width: 0px !important;
}
