<app-waffle [showDrawer]="screen.sausageLinks && screen.sausageLinks.length > 0">
    <app-bacon-strip waffle-header fxFlex="100%"></app-bacon-strip>
    <div waffle-drawer-content class="drawer-content" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="start stretch"
        fxLayoutGap="4px" fxLayoutGap.lg="20px">
        <app-sausage-links waffle-drawer-content></app-sausage-links>
    </div>
    <div waffle-body>
        <div fxLayout="column" class="outer">
            <mat-card fxLayout="column" class="lighter scrollable-content-card selection-list-card">
                <mat-card-title *ngIf="screen.instructions" class="text-sm">{{screen.instructions}}</mat-card-title>
                <mat-card-content fxFlex="1 1 100%">
                    <app-selectable-item-list [configuration]="listConfig" (selectedItemChange)="onItemChange($event)"
                        (selectedItemListChange)="onItemListChange($event)" [defaultSelect]="screen.defaultSelect">
                        <ng-template let-item >
                            <div #items gdAreas="img info" gdColumns="auto 4fr" [ngClass]="{'muted-color' : !item.enabled}">
                                <div gdArea="img">
                                    <img  *ngIf="item.itemImageUrl" src="{{item.itemImageUrl}}" alt="{{item.title}}" class="item-card-image">
                                </div>
                                <div gdArea="info">
                                    <span *ngIf="item.title" class="text-sm item-title">{{item.title}}</span>
                                    <div *ngIf="item.properties" fxLayout="row wrap" fxLayoutAlign="space-between">
                                        <div *ngFor="let property of item.properties">
                                            <div *ngIf="property.label" class="item-property-label">{{property.label}}</div>
                                            <p class="item-property-line" *ngFor="let line of property.lines">{{line}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </app-selectable-item-list>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end">
                    <button *ngFor="let m of screen.nonSelectionButtons" mat-raised-button color="primary"
                        (click)="doMenuItemAction(m)">
                        {{m.title}} </button>
                    <button *ngFor="let m of screen.buttons" mat-raised-button color="primary" [disabled]="index<0"
                        (click)="doMenuItemAction(m)">{{m.title}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</app-waffle>