.drawer-content{
    padding: 8px;
}

.outer {
    height: 100%;
}

.selection-list-card {
    height: 100%;
    padding:10px;
}

.item-card-image {
    height: 275px;
}

.item-title {
    font-weight: bold;
}

.item-property-label {
    font-weight: bold;
}

.item-property-line {
    margin-top:5px;
    margin-bottom:5px;
}

.dialog-content {
    padding:15px;
    margin:0px;
    overflow: auto;
}