<div [formGroup]="formGroup">

    <mat-button-toggle-group *ngIf="formField.inputType==='ToggleButton'" [formControlName]="formField.id" (change)="onFormElementChanged(formField)">
        <mat-button-toggle *ngFor="let value of values" [value]="value">
            {{value}}
        </mat-button-toggle>
    </mat-button-toggle-group>

    <ng-container *ngIf="formField.elementType==='Input' && ! isSpecialCaseInput()">
        <mat-form-field style="width:100%" [ngSwitch]="formField.inputType">
            <app-icon *ngIf="formField.iconName" matPrefix iconName="{{formField.iconName}}" iconClass="material-icons"></app-icon>
            <mat-hint>{{formField.hintText}}</mat-hint>
            <input *ngSwitchDefault matInput [formControlName]="formField.id" [formControl]="formGroup.controls[formField.id]" [placeholder]="getPlaceholderText(formField)"
                [formatterName]="formField.inputType" [required]="formField.required" (change)="onFormElementChanged(formField)"
                [attr.minlength]="formField.minLength" [attr.maxlength]="formField.maxLength" [readonly]="formField.disabled"
                [keyboardLayout]="keyboardLayout" [attr.type]="isNumericField() ? 'tel' : 'text'"
                autoSelectOnFocus>
            <button *ngIf="isScanAllowed()" type="button" mat-button matSuffix mat-icon-button (click)="onScan(formField)">
                <mat-icon svgIcon="barcode"></mat-icon>
            </button>
                 
            <input class="poptart" *ngSwitchCase="'PopTart'" matInput [formControlName]="formField.id" [formControl]="formGroup.controls[formField.id]" [placeholder]="getPlaceholderText(formField)"
                 [required]="formField.required" (click)="openPopTart()" 
                 onfocus="this.blur()" readonly id="{{formField.id}}">                

            <button *ngIf="formField.inputType==='PopTart'" type="button" mat-button matSuffix mat-icon-button (click)="openPopTart()">
                <mat-icon>more_vert</mat-icon>
            </button>

            <input *ngSwitchCase="'AlphanumericPassword'" matInput [formControlName]="formField.id" [placeholder]="getPlaceholderText(formField)"
                type="password" [required]="formField.required">

            <mat-select *ngSwitchCase="'ComboBox'" [formControlName]="formField.id" [placeholder]="getPlaceholderText(formField)" (change)="onFormElementChanged(formField)"
                [required]="formField.required">
                <mat-option *ngFor="let value of values" [value]="value">{{value}}</mat-option>
            </mat-select>

            <textarea *ngSwitchCase="'TextArea'" [value]="formField.value" [formControlName]="formField.id" [readonly]="formField.disabled" [name]="formField.id" [placeholder]="getPlaceholderText(formField)"
                matInput matTextareaAutosize matAutosizeMinRows="2" [disabled]="formField.disabled" [required]="formField.required" (change)="onFormElementChanged(formField)"></textarea>       

            <mat-error>
                <app-show-errors [control]="formGroup.controls[formField.id]"></app-show-errors>
            </mat-error>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="isDateInput() && formField.elementType!='Display'">
        <app-dynamic-date-form-field *ngIf="formField.hideCalendar" [type]="formField.inputType" [(value)]="formField.value" [placeholder]="getPlaceholderText(formField)" 
        [hideCalendar]="formField.hideCalendar" [controlName]="formField.id" [hiddenControl]="formField.id+'Hidden'"[form]="formGroup"></app-dynamic-date-form-field>
        <app-dynamic-date-form-field *ngIf="!formField.hideCalendar" [type]="formField.inputType" [(value)]="formField.value" [placeholder]="getPlaceholderText(formField)" 
        [controlName]="formField.id" [hiddenControl]="formField.id+'Hidden'"[form]="formGroup"></app-dynamic-date-form-field>
        <mat-error>
            <app-show-errors [control]="formGroup.controls[formField.id]"></app-show-errors>
        </mat-error>
    </ng-container>

    <search-select *ngIf="formField.inputType==='AutoComplete'" width='100%' [formControlName]="formField.id" [placeholder]="getPlaceholderText(formField)"
        (change)="onFormElementChanged(formField)" [dataSource]="autoCompleteDataSource"></search-select>

    <ng-container *ngIf="formField.inputType==='Checkbox'">
        <mat-checkbox [formControlName]="formField.id" [required]="formField.required" [value]="formField.value" [labelPosition]="formField.labelPosition"
            [attr.disabled]="formField.disabled" [checked]="formField.checked" (change)="onFormElementChanged(formField)">{{formField.label}}</mat-checkbox>
    </ng-container>

    <ng-container *ngIf="formField.elementType==='Display'">
        <mat-form-field style="width:100%" [ngSwitch]="formField.valueDisplayMode">
            <input *ngSwitchDefault [value]="formField.value" [name]="formField.id" [placeholder]="formField.label" matInput readonly=true>
            <textarea #displayMTA *ngSwitchCase="'Multiple'" [name]="formField.id" [placeholder]="formField.label" 
                [attr.tabindex]="formField.tabindex || displayMTA.getAttribute('tabindex')" 
                matTextareaAutosize matInput readonly=true>{{formField.values.join('\n')}}</textarea>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="formField.elementType==='Separator'">
        <mat-divider></mat-divider>
    </ng-container>

</div>