.side-image {
    height: 120px; 
    cursor: pointer;
}

.selected-image {
    height: 60vh;
    padding-left: 8px;
}

.image-list {
    padding-right: 8px; 
    max-height: 60vh; 
    overflow: auto;
}