@import '~@angular/material/theming';
@import './themes/component-theme-mixins';

@include mat-core();

@mixin app-theme($theme) {

    @include component-theme-mixins($theme);

    $app-primary: mat-color(map-get($theme, primary));
    $app-accent: mat-color(map-get($theme, accent));
    $app-warn: mat-color(map-get($theme, warn));

    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $success-color: green;

    // this is a hack to get around a default value in angular material that they removed in future versions
    // if we ever upgrade we can probably remove this. This allows the field to be sized by flex instead of being
    // limited to 200px min size
    .mat-form-field{
        width: unset;
    }

    .warn {
        color: $app-warn;
    }

    .accent {
        color: $app-accent;
    }

    .primary{
        color:$app-primary;
    }

    .success{
        color:$success-color;
    }

    .muted-color {
        color:mat-color($foreground, disabled);
    }

    .grey-background {
        background-color: map-get($mat-grey, 300);
    }

    mat-card.dark{
        background-color: mat-color($foreground, icon);
        color: white;
    }

    .lighter{
        background-color: mat-color($background, app-bar);
    }

    .mat-drawer-content{
        background-color: mat-color($background, app-bar);
    }

    .mat-drawer{
        background-color: mat-color($background, app-bar);
    }

    input.bordered{
        border-color: mat-color($foreground, divider);
        border-style: solid;
    }

    .mat-list.list-seperator{
        .mat-list-item:not(:first-child){
            border-top: 1px dashed mat-color($foreground, divider);
        }
    }

    // Button Styles
    .mat-button.mat-primary-inverse{
        color:white;
        background-color: $app-primary;
    }
    
    .mat-raised-button.mat-primary-inverse{
        color:$app-primary;
        background-color: white;
    }

    .mat-progress-bar-buffer{
        background-color:mat-color($background, app-bar); 
    }

    .mat-button-toggle{
        background-color: white;
        border: solid mat-color(map-get($theme, primary)) 1px;
        color: mat-color(map-get($theme, primary));
        text-align: center;
    }

    .mat-button-toggle-checked{
        background: $app-accent;
        color: white;
    }
    
    .overflow-menu-panel{
        background: transparent;
        box-shadow: unset;
    } 

    .mat-expansion-indicator::after{
        color:$app-primary;
    }

    app-statusbar{
        .mat-toolbar{
            background-color: $app-primary;
            color: whitesmoke;
        }
    }

    app-self-checkout-statusbar{
        .mat-toolbar{
            background-color: white;
            color: $app-primary;
        }
    }

    .mat-tab-label-active{
        color: $app-primary;
    }
    
}
