@import './mixins/button';
@import './mixins/card';
@import './mixins/container';
@import './mixins/drawer';
@import './mixins/icon';
@import './mixins/list';
@import './mixins/menu';
@import './mixins/serrated-edge';
@import './mixins/slide-toggle';
@import './mixins/table';
@import './mixins/typography';

$mat-card-default-margin: 24px !default;

@mixin openpos-core{

  @include openpos-button();
  @include openpos-card();
  @include openpos-container();
  @include openpos-drawer();
  @include openpos-icon();
  @include openpos-list();
  @include openpos-menu();
  @include serrated-edge();
  @include openpos-slide-toggle();
  @include openpos-table();
  @include openpos-typography();

  html, body {
    font-family: Roboto, sans-serif;
    margin:0;
    padding:0;
    height: 100vh;
    overflow: hidden;
  }

  .scrollable{
      overflow-y:auto;
      height: 100%;
  }

  .pad {
      padding: $mat-card-default-margin;
  }

}
