<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px">
	<mat-card fxFlex="1 1 100%" class="page-content-card scrollable-content-card serrated-edge" fxLayout="column" fxLayoutAlign="start">
		<mat-card-content fxFlex="1 1 100%">
			<div class="scrollable">
				<mat-nav-list>
					<mat-list-item class="sale-line-item">
						<div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
							<div *ngIf="screen.columnsToInclude.includes('transactionId')" fxFlex="20%">
								{{screen.columnHeaders['transactionId']}}
                            </div>
                            <div *ngIf="screen.columnsToInclude.includes('businessDate')" fxFlex="15%" style="text-align:center;">
                                    {{screen.columnHeaders['businessDate']}}
                                </div>                              
                            <div *ngIf="screen.columnsToInclude.includes('sequenceNumber')" fxFlex="15%" style="text-align:center;">
								{{screen.columnHeaders['sequenceNumber']}}
                            </div>    
							<div *ngIf="screen.columnsToInclude.includes('deviceId')" fxFlex="15%" style="text-align:center;">
								{{screen.columnHeaders['deviceId']}}
                            </div>      
							<div *ngIf="screen.columnsToInclude.includes('availableToReturnCount')" fxFlex="15%" style="text-align:center;">
								{{screen.columnHeaders['availableToReturnCount']}}
							</div>                                                  
							<div *ngIf="screen.columnsToInclude.includes('lineItemCount')" fxFlex="fill" style="text-align:center;">
								{{screen.columnHeaders['lineItemCount']}}
							</div>                                                  
							<div *ngIf="screen.columnsToInclude.includes('workstationId')" fxFlex="10%" style="text-align:center;">
								{{screen.columnHeaders['workstationId']}}
							</div>
							<div *ngIf="screen.columnsToInclude.includes('tillId')" fxFlex="10%" style="text-align:center;">
								{{screen.columnHeaders['tillId']}}
							</div>
							<div *ngIf="screen.columnsToInclude.includes('loyaltyNumber')" fxFlex="25%">
								{{screen.columnHeaders['loyaltyNumber']}}
							</div>
							<div *ngIf="screen.columnsToInclude.includes('customerName')" fxFlex="25%">
								{{screen.columnHeaders['customerName']}}
							</div>
							<div fxFlex="15%">
								{{screen.columnHeaders['grandTotal']}}
							</div>
						</div>
					</mat-list-item>
					<mat-list-item *ngFor="let i of screen.sales" class="sale-line-item" (click)="selected(i)">
						<div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
							<div *ngIf="screen.columnsToInclude.includes('transactionId')" fxFlex="20%">
								<strong mat-line>{{i.transactionId}}</strong>
                            </div>
                            <div *ngIf="screen.columnsToInclude.includes('businessDate')" fxFlex="15%" style="text-align:center;">
                                    <div mat-line>{{i.businessDate}}</div>
                                </div>
                            <div *ngIf="screen.columnsToInclude.includes('sequenceNumber')" fxFlex="15%" style="text-align:center;">
								<div mat-line>{{i.sequenceNumber}}</div>
							</div>

                            <div *ngIf="screen.columnsToInclude.includes('deviceId')" fxFlex="15%" style="text-align:center;">
								<div mat-line>{{i.deviceId}}</div>
                            </div>
                            
                            <div *ngIf="screen.columnsToInclude.includes('availableToReturnCount')" fxFlex="15%" style="text-align:center;">
								<div mat-line>{{i.availableToReturnCount}}</div>
                            </div>
                            
                            <div *ngIf="screen.columnsToInclude.includes('lineItemCount')" fxFlex="fill" style="text-align:center;">
								<div mat-line>{{i.lineItemCount}}</div>
                            </div>
                            
							<div *ngIf="screen.columnsToInclude.includes('workstationId')" fxFlex="10%" style="text-align:center;">
								<div mat-line>{{i.workstationId}}</div>
							</div>

							<div *ngIf="screen.columnsToInclude.includes('tillId')" fxFlex="10%" style="text-align:center;">
								<div mat-line>{{i.tillId}}</div>
							</div>

							<div *ngIf="screen.columnsToInclude.includes('loyaltyNumber')" fxFlex="25%">
								<div mat-line>{{i.loyaltyNumber}}</div>
							</div>

							<div *ngIf="screen.columnsToInclude.includes('customerName')" fxFlex="25%">
								<div mat-line>{{i.customerName}}</div>
							</div>

							<div fxFlex="15%">
								<h5 class="middle-align text-md primary">
                                    <app-currency-text [amountText]="i.grandTotal"></app-currency-text>
                                </h5>
								<mat-icon class="material-icons line-item-caret">keyboard_arrow_right</mat-icon>
							</div>
						</div>
					</mat-list-item>
				</mat-nav-list>
			</div>
		</mat-card-content>
	</mat-card>
</div>