<mat-card fxFlex="1 1 100%" class="page-content-card" fxLayoutAlign="start">
    <mat-card-content fxFlexFill fxFlex>
        <img height="300px" src="{{item.imageUrl}}" alt="{{item.description}}">
        <div fxFlexFill fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="16px" style="padding:16px">
            <div fxFlex="1 1 auto">
                <p>{{item.description}}</p>
                <p>{{item.productDescription}}</p>
                <p class="muted-color">
                    <mat-chip-list>
                        {{item.subtitle}}&nbsp;
                        <mat-chip *ngFor="let label of item.labels">{{label}} </mat-chip>
                    </mat-chip-list>
                </p>
            </div>
            <span fxFlex="0 1 auto" class="primary text-md">{{item.amount|currency:'USD':true:'1.2'}}
                <br>
                <p [hidden]="!item.discountAmount" class="muted-color text-xs" style="text-align: right; margin:0px; text-decoration:line-through">{{item.originalAmount|currency:'USD':true:'1.2'}}</p>
                <p [hidden]="!item.discountAmount" class="muted-color text-xs" style="text-align: right; margin:0px">( -{{item.discountAmount|currency:'USD':true:'1.2'}} )</p>
            </span>
            <button mat-icon-button fxFlex="1 1 10%" color="primary"> Remove
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>