<ng-container *ngIf="screen">
  <div *ngIf="isCustomerFacing()" class="modal-header">
      <h2 mat-dialog-title class="warn text-lg">TO BE COMPLETED BY THE CLIENT</h2>
  </div>
  <div #test class="modal-header">
    <h4 mat-dialog-title [ngClass]="{'warn text-lg': isCustomerFacing()}">{{screen.title}}</h4>
  </div>
  <div mat-dialog-content>
    <p *ngFor="let m of messages" [ngClass]="{'text-md': isCustomerFacing()}">{{m}}</p>
    <mat-progress-bar *ngIf="screen.subType === 'Progress'" mode="indeterminate"></mat-progress-bar>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <button *ngFor="let m of otherButtons; let i = index" [id]="'button-' + i" mat-raised-button [mat-dialog-close]="m"
        color="primary-inverse" [disabled]="!m.enabled" [ngClass]="{'customer-button': isCustomerFacing()}">{{m.title}}</button>
        <div fxFlex="1 1 auto"></div>
    <button *ngIf="primaryButton" mat-raised-button [mat-dialog-close]="primaryButton" color="primary" 
        id="primaryButton" autofocus appFocus [ngClass]="{'customer-button': isCustomerFacing()}">{{primaryButton.title}}</button>
  </div>
</ng-container>
