<ng-container *ngIf="session.dialog">
  <div #test class="modal-header">
    <h4 mat-dialog-title>{{session.dialog.title}}</h4>
  </div>
  <div mat-dialog-content>
    <p *ngFor="let m of messages">{{m}}</p>
    <mat-progress-bar *ngIf="session.dialog.subType === 'Progress'" mode="indeterminate"></mat-progress-bar>
  </div>
  <div mat-dialog-actions>
    <div fxLayout="row">
      <button *ngFor="let m of session.dialog.buttons; let i = index" [id]="'button-' + i" mat-raised-button [mat-dialog-close]="m"
        [color]="i===0?'primary':''" [disabled]="!m.enabled" [autofocus]="i===0" [appFocus]="i===0">{{m.title}}</button>
    </div>
  </div>
</ng-container>
