.checkout-button {
    width: 100%; 
    height: 70px;
    margin-top: 16px;
}

.border-button {
    background-color: white;
    border-style:solid; 
    border-width: 2px; 
    border-color:rgba(0, 0, 0, 0.712); 
    width: 100%; 
    height: 70px;
    margin-top: 16px;
}

.loyalty-button {
    background-color: white;
    border-style:solid; 
    border-width: 2px; 
    border-color:rgba(0, 0, 0, 0.712); 
    width: 100%; 
    height: 70px;
    padding: 16px;
    margin-top: 16px;

    mat-icon {
        height: 50px; width: 120px; margin-top: -12px
    }
}

.promo-button {
    height: 35px;
    border-bottom-style: solid; 
    border-bottom-width: 1px;
    border-color: rgba(0, 0, 0, 0.712); 
}

.border-button:disabled {
    border-color:gray; 
}

.top {
    top: 0;
}

.subtotal {
    mat-card-title {
        font-size: 20px;
    }

    mat-card-content {
        font-size: 24px;
        padding-top: 0px;
    }
}

.total {
    border-top-width: 2px;
    border-top-color: rgba(0, 0, 0, 0.712); 
    border-top-style: solid;

    mat-card-title {
        font-size: 24px;
    }

    mat-card-content {
        font-size: 32px;
        padding-top: 0px;
    }
}