<configuration>

    <variable name="LOG_DIR" value="${.LOG_DIR:-./logs}" />
    <variable name="LOG_TARGET" value="${LOG_TARGET:-CONSOLE}" />
    <variable name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{stateManager:--}] [%thread] [%class{0}] %msg %n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/commerce.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/commerce-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 90 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>90</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="org.jumpmind.pos.util.logging.OpenposPatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org" level="WARN" />
    <logger name="org.jumpmind" level="INFO" />
    <logger name="org.jumpmind.pos.persist.driver" level="WARN" />

    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG" />
    <logger name="org.jumpmind.db.alter" level="DEBUG" />
    <logger name="org.eclipse.jetty" level="ERROR" />
    <logger name="org.jumpmind.symmetric.util.PropertiesFactoryBean" level="ERROR" />
    <logger name="org.jumpmind.symmetric.service.impl.ParameterService" level="ERROR" />
    <logger name="org.jumpmind.symmetric.db.SqlScript" level="ERROR" />
    <logger name="org.springframework.boot.autoconfigure.freemarker" level="ERROR" />
    <logger name="com.google.auth.oauth2.DefaultCredentialsProvider" level="ERROR" />
    <logger name="org.springframework.cloud.gcp.core.DefaultCredentialsProvider" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="${LOG_TARGET}" />
    </root>
    
</configuration>