<mat-label class="time-label">{{label}}</mat-label>
<div fxLayout="row">
  <mat-form-field class="time-form-field" [floatLabel]="'never'">
    <input matInput [formatterName]="'hour'" placeholder="Hours" [(ngModel)]="hours" (change)="onTimeChange()"
      [required]="required">
  </mat-form-field>
  <mat-form-field class="time-form-field" [floatLabel]="'never'">
    <input matInput [formatterName]="'minsec'" placeholder="Minutes" [(ngModel)]="minutes" (change)="onTimeChange()"
      [required]="required">
  </mat-form-field>
  <mat-form-field class="time-form-field">
    <mat-select [(value)]="amPm" (selectionChange)="onTimeChange()" [required]="required">
      <mat-option *ngFor="let ap of ['am', 'pm']" [value]="ap">
        {{ap}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>