
<div class="section">
    <h3>Buttons</h3>
    <div gdAuto="column" gdGap="16px" gdColumns="auto auto 1fr">
        <app-primary-button>Primary Button</app-primary-button>
        <app-secondary-button>Secondary Button</app-secondary-button>
    </div>
</div>

<div class="section">
    <h3>Toggle Buttons</h3>
    <app-fab-toggle-group [(value)]="toggleValue" gdAuto="column" gdColumns="auto auto 1fr" gdGap="16px">
        <app-fab-toggle-button [value]="'fab1'"></app-fab-toggle-button>
        <app-fab-toggle-button [value]="'fab2'"></app-fab-toggle-button>
    </app-fab-toggle-group>
</div>
