@mixin default-theme{

    $openpos-app-primary: mat-palette($mat-grey, 800, 600, 900);
    $openpos-app-accent : mat-palette($mat-brown, 200, 100, 300 );
    $openpos-app-warn : mat-palette($mat-red);
    $mat-card-default-margin: 24px !default;
    $app-logo-url: url(assets/logo.png);
    $openpos-theme: mat-light-theme($openpos-app-primary, $openpos-app-accent, $openpos-app-warn);

    .default-theme {

        .main-background {
            height:100vh;
            background-image: url(assets/openpos-background.jpg); 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; 
        }

        .home-screen-logo {
            width: 270px;
            height: 67px;
            background-image: $app-logo-url; 
            background-repeat: no-repeat;
            background-size: cover;
            top: 10px;
            zoom: 65%; 
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            right: 0;
            left: 0;  
            filter: grayscale(1) invert(1) brightness(10);
            -webkit-filter: grayscale(1) invert(1) brightness(10); 
        } 

        @media(max-width: 600px) {
            // Adjust size of log for small screen
            .home-screen-logo {
                width: 500px;
                height: 42px;
            }
        }        

        @include angular-material-theme($openpos-theme);
        @include app-theme($openpos-theme);
    }
}
