@import 'app-theme';

$training-app-primary: mat-palette($mat-green, 800, 600, 900);
$training-app-accent : mat-palette($mat-grey, 800, 600, 900);
$training-app-warn : mat-palette($mat-red);
$mat-card-default-margin: 24px !default;
$app-logo-url: url(assets/Big_Lots_logo.png);
$training-app-theme: mat-light-theme($training-app-primary, $training-app-accent, $training-app-warn);

.main-background {
    height:100vh;
    background-image: url(assets/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.training-theme {
    @include angular-material-theme($training-app-theme);
    @include app-theme($training-app-theme);
}