
@mixin training-theme{
    $training-app-primary: mat-palette($mat-green, 800, 600, 900);
    $training-app-accent : mat-palette($mat-grey, 800, 600, 900);
    $training-app-warn : mat-palette($mat-red);
    $app-logo-url: url(assets/logo.png);
    $training-app-theme: mat-light-theme($training-app-primary, $training-app-accent, $training-app-warn);
    
    .training-theme {
    
        .main-background {
            height:100vh;
            background-image: url(assets/openpos-background.jpg); 
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; 
        }
        
        @include angular-material-theme($training-app-theme);
        @include app-theme($training-app-theme);
    }
}