<div class="containerX" [fxLayout]="direction" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex>
        <md-table #table [dataSource]="dataSource">
            <ng-container mdColumnDef="description">
                <md-header-cell *mdHeaderCellDef><h1>Shopping Cart</h1></md-header-cell>
                <md-cell *mdCellDef="let item"> {{item.description}} </md-cell>
            </ng-container>
            
            <ng-container mdColumnDef="extendedAmount">
                <md-header-cell [style.flex]="'0 0 75px'" *mdHeaderCellDef>Price</md-header-cell>
                <md-cell [style.flex]="'0 0 75px'" *mdCellDef="let item"> {{item.extendedAmount}} </md-cell>
            </ng-container>

            <ng-container mdColumnDef="quantity">
                <md-header-cell [style.flex]="'0 0 75px'" *mdHeaderCellDef>Quantity</md-header-cell>
                <md-cell [style.flex]="'0 0 75px'" *mdCellDef="let item"> {{item.quantity}} </md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>
    <div fxFlex="33">
        <md-card>
            <md-card-header>                
            </md-card-header>            
            <md-card-content>
                    <h2>Order Summary</h2>
                <div class='container' fxLayoutAlign='space-between'>
                    <div><strong>Total:</strong></div>
                    <div>{{session.screen.cart.grandTotal}}</div>
                </div>
                <div class='container' fxLayoutAlign='space-between'>
                    <div>Discounts:</div>
                    <div>{{session.screen.cart.discountTotal}}</div>
                </div>                
                <div class='container' fxLayoutAlign='space-between'>
                    <div>Tax:</div>
                    <div>{{session.screen.cart.taxTotal}}</div>
                </div>
                <div class='container' fxLayoutAlign='space-between'>
                    <div>Subtotal:</div>
                    <div>{{session.screen.cart.subTotal}}</div>
                </div>
            </md-card-content>
            <md-card-actions fxLayoutAlign="center">
                <button md-raised-button color='primary'>Send to Register</button>
                <button md-raised-button color='primary'>Checkout Now</button>
            </md-card-actions>
        </md-card>
    </div>
</div>