<!-- <md-toolbar color="primary">
    <button *ngIf="session.screen && session.screen.backButton && session.screen.backButton.enabled" md-button (click)="session.onAction(session.screen.backButton.action)">
        <md-icon>arrow_back</md-icon>
    </button>
    
    <span class="toolbar-fill-remaining-space"></span>
    <button md-button [disabled]="cartSize == 0" (click)="session.onAction('ShowCart')">
        <md-icon>shopping_cart</md-icon>
        <small *ngIf="cartSize > 0">{{cartSize}}</small>
    </button>
</md-toolbar>
-->

<div>
<button md-button [disabled]="cartSize == 0" (click)="session.onAction('ShowCart')"
    style="position: absolute;top:55px;right: 64px;color:#e7e7e7;">
    <md-icon class="md-40">shopping_cart</md-icon>
    <span *ngIf="cartSize > 0">{{cartSize}}</span>
</button>
<ng-template appScreen></ng-template>
</div>