<div fxLayout="column" fxFlexFill>
    <div mat-dialog-title *ngIf="screen.name" class="text-md">
        {{screen.name}}
    </div>
    <mat-dialog-content>
        <div fxFlex="0 0 100%" class="lighter" fxLayout="column" fxLayoutAlign="start" style="padding:15px; margin:0px; overflow: auto">
            <div *ngIf="screen.instructions" class="text-sm"> {{screen.instructions}}</div>
            <app-selectable-item-list fxFlex="0 1 100%" [configuration]="listConfig" (selectedItemChange)="onItemChange($event)"
                (selectedItemListChange)="onItemListChange($event)">
                <div *ngFor="let sel of screen.selectionList">
                    <div fxShow fxHide.xs="true" fxHide.lg="false" *ngIf="sel.title" class="text-sm">{{sel.title}}</div>
                    <div fxHide fxHide.xs="false" fxHide.lg="true" *ngIf="sel.title" class="text-md">{{sel.title}}</div>
                    <div *ngIf="sel.properties" fxLayout="row wrap" fxLayoutAlign="space-between">
                        <div *ngFor="let property of sel.properties">
                            <div *ngIf="property.label" class="item-property-label">{{property.label}}</div>
                            <p class="item-property-line" *ngFor="let line of property.lines">{{line}}</p>
                        </div>
                    </div>
                </div>
            </app-selectable-item-list>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="space-between" style="overflow:auto">
        <button *ngIf="screen.backButton" mat-raised-button type="submit" color="primary-inverse" (click)="session.onAction(screen.backButton.action)">
            <span>{{screen.backButton.title ? screen.backButton.title : 'Back'}}</span>
            <app-icon *ngIf="screen.backButton.icon" [iconClass]="material-icons" [iconName]="screen.backButton.icon"></app-icon>
        </button>
        <div>
            <button *ngFor="let m of screen.nonSelectionButtons" mat-raised-button color="primary" (click)="doMenuItemAction(m)"> {{m.title}} </button>
            <button *ngFor="let m of screen.buttons" mat-raised-button color="primary" [disabled]="index<0" (click)="doMenuItemAction(m)">{{m.title}}</button>
        </div>
    </mat-dialog-actions>
</div>