.list-item {
    border-style: solid;
    border-width: 1pt;
    border-color:#AAAAAA;
    background-color: #FFFFFF;
    padding:50px;
    margin:30pt;
}

.prompt {
    width:60%;
    height:40%;
}

.mat-line {
   text-align: center;
}