.loader-hidden {
    visibility: hidden;
}

.loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500;
}

#overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#000;
    opacity: .55;
    z-index: 499;
}

.center {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:350px;
    text-align:center;
    margin: 0 auto;
}