<ng-container *ngIf="screen">
  <div #test class="modal-header">
    <h4 mat-dialog-title [ngClass]="{'warn text-lg text-center': isCustomerFacing()}">{{screen.title}}</h4>
  </div>
  <div mat-dialog-content>
    <ng-container *ngIf="messages && messages.length > 0">
        <div *ngFor="let m of messages" [ngClass]="{'text-md': isCustomerFacing()}">
            <p>{{m}}</p> 
        </div>
    </ng-container>
    <ng-container *ngIf="lines && lines.length > 0">
        <div *ngFor="let l of lines" [ngClass]="{'text-md': isCustomerFacing()}">
          <p [class]="l.cssClass">{{l.message}}</p>
        </div>
    </ng-container>
    <mat-progress-bar *ngIf="screen.subType === 'Progress'" mode="indeterminate"></mat-progress-bar>
  </div>
  <div mat-dialog-actions fxLayout="row">
    <button *ngFor="let m of otherButtons; let i = index" [id]="'button-' + i" mat-raised-button [mat-dialog-close]="m"
        color="primary-inverse" [disabled]="!m.enabled" [ngClass]="{'customer-button': isCustomerFacing()}">{{m.title}}</button>
        <div fxFlex="1 1 auto"></div>
    <button *ngIf="primaryButton" mat-raised-button [mat-dialog-close]="primaryButton" color="primary" 
        id="primaryButton" autofocus appFocus [ngClass]="{'customer-button': isCustomerFacing()}">{{primaryButton.title}}</button>
  </div>
</ng-container>
