@mixin openpos-tabs(){
    mat-tab-group{
        .mat-tab-label{
            min-width: 60px;
        }
        .mat-tab-body-wrapper{
            flex: 1 1 auto;
        }
        .mat-tab-body-content{
            display: flex;
            flex-direction: column;
        }
    }
}