<mat-toolbar gdAreas="backbutton header . operator" gdColumns="auto auto 1fr auto">
    <button gdArea="backbutton" class="back-button" *ngIf="screenData.backButton" mat-button (click)="onMenuItemClick(screenData.backButton)">
        <mat-icon class="material-icons mat-48">keyboard_arrow_left</mat-icon>
    </button>    
    <div gdArea="header">
        <app-icon *ngIf="!(isMobile$ | async) && screenData.headerIcon" class="screen-icon" [iconName]="screenData.headerIcon"></app-icon>
        <span>{{screenData.headerText}}</span>
    </div>
    <div gdArea="operator" *ngIf="!(isMobile$ | async)">
        {{screenData.operatorText}} on {{screenData.deviceId}}
    </div>
</mat-toolbar>