<mat-toolbar fxLayoutGap="10px">
    <app-icon-button 
        *ngIf="screenData.backButton" 
        [iconName]="screenData.backButton.icon" 
        (buttonClick)="onMenuItemClick(screenData.backButton)"
    ></app-icon-button>
    <div fxLayoutAlign="center center" fxLayoutGap="10px">
        <app-icon *ngIf="screenData.headerIcon" class="screen-icon" [iconName]="screenData.headerIcon"></app-icon>
        <span>{{screenData.headerText}}</span>
    </div>
    <div fxFlex="1 1 100%"></div>
    <div>
        {{screenData.operatorText}} on {{screenData.deviceId}}
    </div>
</mat-toolbar>