@import '~@angular/material/theming';

@mixin app-theme($theme) {
    
    $app-primary: mat-color(map-get($theme, primary));
    $app-accent: mat-color(map-get($theme, accent));
    $app-accent-lighter: mat-color(map-get($theme, accent), lighter);
    $app-warn: mat-color(map-get($theme, warn));
    
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .warn {
        color: $app-warn;
    }

    .accent {
        color: $app-accent;
    }

    .accent-lighter {
        color:$app-accent-lighter;
    }

    .primary{
        color:$app-primary;
    }

    mat-card.dark{
        background-color: $app-accent;
        color: white;
    }

    .mat-drawer-content{
        background-color: mat-color($background, app-bar);
    }

    .mat-drawer{
        background-color: mat-color($background, app-bar);
    }

    input.bordered{
        border-color: mat-color($foreground, divider);
        border-style: solid;
    }

    .mat-list.list-seperator{
        .mat-list-item:not(:first-child){
            .mat-list-item-content{
                border-top: 1px dashed mat-color($foreground, divider);
            }
        }
    }

    // Button Styles
    .mat-button.mat-primary-inverse{
        color:white;
        background-color: $app-primary;
    }

    .mat-icon.mat-accent-lighter{
        color:$app-accent-lighter;
    }
}