<md-sidenav-container style="background-color: transparent">
	<md-sidenav class="app-sidenav" #sidenav>
		<div class="app-sidenav-content" *ngIf="menuActions" class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
			<md-nav-list>
				<a *ngFor="let m of menuActions" md-list-item (click)="session.onAction(m.action);  sidenav.close()" href="#">
					<md-icon  md-list-icon class="material-icons">{{m.icon}}</md-icon>
					<span md-line [ngClass]="{'menu-item-dimmed': ! m.enabled}">{{m.title}}</span>
					<md-icon class="material-icons">keyboard_arrow_right</md-icon>
				</a>
			</md-nav-list>
		</div>
	</md-sidenav>

	<div>
		<div>
			<div style="height: 0">
				<button class="hamburger-button" [style.xs]="{'left': '-10px'}"*ngIf="session.screen && session.screen.menuActions && session.screen.menuActions.length > 0"
				 type="button" md-button (click)="sidenav.open()">                   
      		<md-icon class="material-icons statusbar-icon hamburger-icon">menu</md-icon>
	 			</button>
			</div>
			<app-statusbar *ngIf="session.screen && session.screen.showStatusBar"></app-statusbar>
		</div>

		<ng-template appScreen></ng-template>

	</div>
</md-sidenav-container>