<form fxFlexFill fxLayout="column" fxLayoutAlign="center center" [formGroup]="promptFormGroup" (ngSubmit)="onFormSubmit()"
    novalidate [markDirtyOnSubmit]="promptFormGroup">
    <mat-card ngStyle.xl="width:30%" ngStyle.lg="width:40%" ngStyle.md="width:60%" ngStyle.sm="width:70%" ngStyle.xs="width:80%">
        <mat-card-content>
            <app-prompt-input #promptInput [placeholderText]="screen.placeholderText" [responseType]="screen.responseType" [promptIcon]="screen.promptIcon"
                [responseText]="screen.responseText" [hintText]="screen.text" [maskSpec]="screen.promptMask" [minLength]="screen.minLength"
                [maxLength]="screen.maxLength" [promptFormGroup]="promptFormGroup" [keyboardPreference]="screen.keyboardPreference" [scanEnabled]="screen.scanEnabled"></app-prompt-input>
            <p *ngIf="instructions"><span class="text-sm">{{instructions}}</span></p>
            <div style="height:50px"></div>
        </mat-card-content>
        <mat-card-actions *ngIf="screen.otherActions || screen.actionButton" align="end">
            <button *ngFor="let menuItem of screen.otherActions" mat-raised-button (click)="session.onAction(menuItem)">
                <span>{{menuItem.title}}</span>
                <mat-icon *ngIf="menuItem.icon" class="material-icons">{{menuItem.icon}}</mat-icon>
            </button>
            <button mat-raised-button  color=primary (click)="onFormSubmit()">
                <span>{{screen.actionButton.title}}</span>
                <mat-icon *ngIf="screen.actionButton.icon" class="material-icons">{{screen.actionButton.icon}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</form>