<app-icon-square-button fxFlex="0 0 auto" class="scan-something-button" [iconName]="'Barcode'" [color]="'primary-inverse'"
  (buttonClick)="devices.scan()"></app-icon-square-button>
<input #input matInput cdkFocusInitial="true" [keyboardLayout]="'Numeric'" fxFlex="1 1 100%" class="scan-something-input"
  (keyup.enter)="onEnter()" [(ngModel)]="barcode" (paste)="onBarcodePaste($event)" [placeholder]="scanSomethingData.scanSomethingText ? scanSomethingData.scanSomethingText : 'Scan/Enter Something'"
  novalidate type="tel" pattern="[0-9]*" [attr.minlength]="scanSomethingData.scanMinLength" [attr.maxlength]="scanSomethingData.scanMaxLength"
  [formatterName]="scanSomethingData.inputType" barcodeScanPublisher>