<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="0 1 auto" fxLayoutAlign="center center" style="padding: 32px;">
        <b class="text-md text-center warn">{{prompt}}</b>
    </div>
    <div fxFlex="0 1 auto" fxLayoutAlign="center center" style="padding: 32px;">  
        <b class="text-md text-center">{{instructions}}</b>
    </div>
    <div fxFlex="1 1 auto">
    <mat-card style="padding: 0px;">
        <div class="payment-auth-icon"></div>
    </mat-card>
    </div>
</div>