<ng-container *ngIf="links">
    <button mat-button 
        class="sausage-link"
        color="primary"
        *ngFor="let m of links" (click)="onMenuItemClick(m)"
        [disabled]="!m.enabled">
        <app-icon *ngIf="m.icon" [iconName]="m.icon"></app-icon>
        <span [ngClass]="{'muted-color': ! m.enabled}">&nbsp;{{m.title}}</span>
        <span *ngIf="m.keybind && keybindsEnabled()" fxFlex="1 1 auto" style="padding-right: 8px;"></span>
        <span *ngIf="m.keybind && keybindsEnabled()" class="muted-color">{{m.keybind}}</span>
    </button>
</ng-container>