:host{
    border-radius: 4px;
}

.scan-button{
    width: 100px;
    height: 55px;
}

.scan-input{
    font-size: 24px;
    height: 55px;
    margin: 0px;
    padding: 4px;
}

.scan-input:focus{
    outline:none;
}