@mixin sale-theme($theme){
    $app-primary: mat-color(map-get($theme, primary));
    $app-accent: mat-color(map-get($theme, accent));
    $app-warn: mat-color(map-get($theme, warn));

    $foreground: map-get($theme, foreground );
    $background: map-get($theme, background );

    .sale-prompt{
        background-color: map-get($background, app-bar);
    }

    .header{
        background-color: $app-primary;
        color: map-get($foreground, inverse-text);
    }
}