<app-waffle>
    <app-bacon-strip waffle-header fxFlex="100%"></app-bacon-strip>
    <div waffle-drawer-content class="drawer-content" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="start stretch"
        fxLayoutGap="4px" fxLayoutGap.lg="20px">
        <app-sausage-links waffle-drawer-content></app-sausage-links>
        <div fxFlex="1 1 auto"></div>
        <ng-container *ngIf="!screen.hideCustomer">
            <app-sell-linked-customer [screenType]="screen.screenType" [customerName]="screen.customerName"
                [noCustomerText]="screen.noCustomerText" [loyaltyButton]="screen.loyaltyButton"></app-sell-linked-customer>
        </ng-container>
        <div fxFlex="0 1 auto" class="sell-screen-logo"></div>
    </div>

    <app-scan-or-search waffle-top-content class="scan-or-search mat-elevation-z3"></app-scan-or-search>

    <div waffle-body class="sale-content" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px">

        <app-transaction-item-list [listConfig]="listConfig" [selectedItems]="selectedItems" [selectedItemIndexes]="screen.selectedItemIndexes"
            [multiSelectedMenuItems]="screen.multiSelectedMenuItems" [transactionMenuItems]="screen.transactionMenuItems"
            [prompt]="screen.transactionMenuPrompt" [readOnly]="screen.readOnly" (selectedItemListChange)="onItemListChange($event)"
            (menuAction)="onMenuAction($event)">
        </app-transaction-item-list>

        <app-overflow-list fxFlex="0 0 auto" *ngIf="screen.transaction" [numberItemsToShow]="overFlowListSize | async"
            [items]="amountTotals"></app-overflow-list>

        <mat-card *ngIf="screen.transaction" fxFlex="0 0 auto" class="page-content-card dark">
            <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="text-lg">
                <div *ngIf="itemTotal === 1"><span fxFlex class="text-md">{{itemTotal}} Item</span></div>
                <div *ngIf="itemTotal !== 1"><span fxFlex class="text-md">{{itemTotal}} Items</span></div>
                <span fxFlex="1 1 auto"></span>
                <span fxFlex class="text-right">Total</span>
                <span fxFlex [ngClass]="{'text-center': !screen.readOnly, 'text-right': screen.readOnly}">
                    <app-currency-text [amountText]="screen.grandTotal"></app-currency-text>
                </span>
                <button fxFlex="0 1 auto" *ngIf="!screen.readOnly" mat-button color="primary-inverse" style="height:100%; margin:-4px;"
                    [disabled]="!screen.transaction.active || items.length == 0" (click)="session.onAction('Checkout')">
                    <span *ngIf="showDetails | async" class="text-md">{{screen.checkoutButtonText}}</span>
                    <mat-icon class="material-icons mat-48">keyboard_arrow_right</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
        <app-status-strip></app-status-strip>
    </div>
</app-waffle>