<div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" style="padding:6px">
<app-dynamic-form-control [alternateSubmitActions]="screen.alternateSubmitActions" [screenForm]="screen.form"></app-dynamic-form-control>
<mat-card fxFlex class="page-content-card text-left">
    <mat-card-title ngClass="muted-color text-sm" ngClass.xs="text-xs">
      Total
    </mat-card-title>
    <mat-card-content>
      <p ngClass="muted-color text-lg" ngClass.xs="text-md">
        <span class="super-currency-symbol"></span>{{screen.total|currency:session.getCurrencyDenomination():'symbol':'1.2'}}</p>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="nextAction">
      <div fxLayoutAlign="end">
          <button type="submit" mat-button color="primary-inverse" (click)="onNextAction()" [disabled]="!nextAction.enabled" [appFocus]="true">
              <span>Next</span>
              <app-icon [iconClass]="material-icons" [iconName]="nextAction.icon"></app-icon>
          </button>      
      </div>
  </ng-container>
</div>