<div [ngClass]="getTheme()">
    <div [ngClass]="session.screen.name==='Home'?'main-background':'lighter'">
        <app-statusbar></app-statusbar>

        <button *ngIf="showDevMenu" #devMenuButton class="float" mat-mini-fab color="accent" [matMenuTriggerFor]="devMenu"><mat-icon>code</mat-icon></button>

        <div [matMenuTriggerFor]="devMenu">
            <mat-menu #devMenu="matMenu">
                <ng-container *ngIf="logsAvailable">
                    <button mat-menu-item [matMenuTriggerFor]="logsMenu">Logs</button>
                    <mat-divider></mat-divider>
                </ng-container>
                <button mat-menu-item (click)="onPersonalize()">Personalize</button>
                <button mat-menu-item (click)="onDevRefreshView()">Refresh View</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="onDevClearLocalStorage()">Clear Local Storage</button>
            </mat-menu>

            <mat-menu #logsMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="logShareMenu">Share</button>
                <button mat-menu-item [matMenuTriggerFor]="logUploadMenu">Upload</button>
            </mat-menu>

            <mat-menu #logShareMenu="matMenu">
                <button mat-menu-item *ngFor="let m of logFilenames" (click)="onLogfileSelected(m)">{{m}}</button>
            </mat-menu>

            <mat-menu #logUploadMenu="matMenu">
                <button mat-menu-item *ngFor="let m of logFilenames" (click)="onLogfileUpload(m)">{{m}}</button>
            </mat-menu>
        </div>

        <div class="content" ngClass.xs="content-xs">
            <ng-template appTemplate></ng-template>
        </div>

    </div>
</div>