
<div *ngIf="session.screen" class="container">

	<h3>Mobile POS</h3>
	
	<div *ngIf="session.screen.type==='Prompt'">
		<app-prompt></app-prompt>
	</div>
	
	<div *ngIf="session.screen.type==='Sell'">
		<app-sell></app-sell>
	</div>	
	
	<div *ngIf="session.screen.menuActions">
		<button *ngFor="let m of session.screen.menuActions"
			class="btn btn-primary btn-sm" [disabled]="!m.enabled"
			(click)="session.onAction(m.action)">{{m.text}}</button>
	</div>
	
	<div *ngIf="session.screen.navActions">
		<button *ngFor="let m of session.screen.navActions"
			class="btn btn-primary" [disabled]="!m.enabled"
			(click)="session.onAction(m.action)">{{m.text}}</button>
	</div>

</div>
<router-outlet></router-outlet>