<nav class="navbar navbar-inverse bg-inverse">
	<div class="nav">
		<a *ngIf="backButton && backButton.enabled" class="btn btn-info mr-2" (click)="session.onAction(session.screen.backButton.action)">
			<i class="fa fa-undo fa-lg"></i>
			</a>
		<a class="navbar-brand" href="#">Mobile POS</a>
	</div>
	<button *ngIf="menuActions && menuActions.length > 0" class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed"
	 aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div *ngIf="menuActions" [ngbCollapse]="isCollapsed" class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		<ul class="nav navbar-nav">
			<li *ngFor="let m of menuActions" class="nav-item"><a class="nav-link" (click)="session.onAction(m.action)" href="#">{{m.title}}</a>
			</li>
		</ul>
	</div>
</nav>

<ng-container *ngIf="session.screen" class="container">

	<div *ngIf="session.screen.type==='Dialog'">
		<app-dialog></app-dialog>
	</div>

	<div *ngIf="session.screen.type==='Prompt'">
		<app-prompt></app-prompt>
	</div>

	<div *ngIf="session.screen.type==='Sell'">
		<app-sell></app-sell>
	</div>

	<div *ngIf="session.screen.type==='SellItemDetail'">
		<app-sell-item-detail></app-sell-item-detail>
	</div>

	<div *ngIf="session.screen.type==='Form'">
		<app-form></app-form>
	</div>

	<div *ngIf="session.screen.menuItems" class="m-2">
		<button *ngFor="let m of menuItems" class="btn btn-info btn-lg p-1 btn-block" (click)="session.onAction(m.action)">{{m.title}}</button>
	</div>
</ng-container>


<router-outlet></router-outlet>