<div fxFlexFill fxLayout="row" fxLayoutAlign="center" fxLayoutWrap >
    <mat-card *ngFor="let menuItem of menuItems" fxFlexAlign="center">
          <button mat-raised-button color=primary style="height:150px;width:150px"
          (click)="onMenuItemClick(menuItem)" >
          <div fxLayoutAlign="center center" fxLayout="column">
              <app-icon fxFlex="1 0 auto" iconName="{{menuItem.icon}}" iconClass="material-icons mat-64"></app-icon>
              <span fxFlex="1 0 auto" class="text-sm">{{menuItem.title}}</span>
          </div>
          </button>
    </mat-card>
    <div class="home-screen-logo"></div>
</div>
