<div fxFlexFill *ngIf="session.screen.type==='Prompt' &&  session.screen.text"
	fxLayout="column" fxLayoutAlign="center center">
	<mat-card ngStyle.xl="width:30%" ngStyle.lg="width:40%" ngStyle.md="width:60%" ngStyle.sm="width:70%" ngStyle.xs="width:80%">
		<mat-card-content>
			<app-prompt-input #promptInput *ngIf="session.screen.editable" [placeholderText]="session.screen.placeholderText" [responseType]="session.screen.responseType"
			[promptIcon]="session.screen.promptIcon" (enter)="onPromptInputEnter($event)"
			[responseText]="session.screen.responseText" [hintText]="session.screen.text"></app-prompt-input>
			<div style="height:50px"></div>
		</mat-card-content>
		<mat-card-actions *ngIf="session.screen.actionButton" align="end">
			<button mat-icon-button (click)="onAction(session.screen.actionButton.action)" [appFocus]="true">
				<mat-icon *ngIf="session.screen.actionButton.icon">{{session.screen.actionButton.icon}}</mat-icon>
			</button>
	   </mat-card-actions>
	</mat-card>
</div>
