<div fxFlexFill *ngIf="session.screen.type==='Prompt' &&  session.screen.text"
	fxLayout="column" fxLayoutAlign="center center">
	<mat-card ngStyle.xl="width:30%" ngStyle.lg="width:40%" ngStyle.md="width:60%" ngStyle.sm="width:70%" ngStyle.xs="width:80%">
		<form [formGroup]="promptFormGroup" (ngSubmit)="onFormSubmit()" novalidate [markDirtyOnSubmit]="promptFormGroup">
			<mat-card-content>
					<app-prompt-input #promptInput *ngIf="session.screen.editable" [placeholderText]="session.screen.placeholderText" [responseType]="session.screen.responseType"
					[promptIcon]="session.screen.promptIcon" [responseText]="session.screen.responseText" [hintText]="session.screen.text" [maskSpec]="session.screen.promptMask" 
					[minLength]="session.screen.minLength" [maxLength]="session.screen.maxLength"
					[promptFormGroup]="promptFormGroup"></app-prompt-input>
				
				<div style="height:50px"></div>
			</mat-card-content>
			<mat-card-actions *ngIf="session.screen.actionButton" align="end">
				<button mat-icon-button type="submit">
					<mat-icon *ngIf="session.screen.actionButton.icon">{{session.screen.actionButton.icon}}</mat-icon>
				</button>
			</mat-card-actions>
		</form>
	</mat-card>
</div>
