<div fxFlexFill *ngIf="session.screen.type==='PromptWithInfo'" fxLayout="column" fxLayoutAlign="center center">
    <mat-card ngStyle.xl="width:30%" ngStyle.lg="width:40%" ngStyle.md="width:60%" ngStyle.sm="width:70%" ngStyle.xs="width:80%">
        <mat-form-field *ngFor="let formField of session.screen.form.formElements" style="width:100%">
            <ng-container *ngIf="formField.elementType==='Display'">
                <label class="prompt-text">{{formField.label}}</label>
                <input [value]="formField.value" [name]="formField.id" matInput disabled>
            </ng-container>
        </mat-form-field>
    </mat-card>
    <mat-card ngStyle.xl="width:30%" ngStyle.lg="width:40%" ngStyle.md="width:60%" ngStyle.sm="width:70%" ngStyle.xs="width:80%">
        <form [formGroup]="promptFormGroup" (ngSubmit)="onFormSubmit()">
            <mat-card-content>		    
                     <app-prompt-input #promptInput [placeholderText]="session.screen.placeholderText" [responseType]="session.screen.responseType"
                    [promptIcon]="session.screen.promptIcon" [responseText]="session.screen.responseText" [hintText]="session.screen.text" [maskSpec]="session.screen.promptMask" 
                    [minLength]="session.screen.minLength" [maxLength]="session.screen.maxLength"
                    [promptFormGroup]="promptFormGroup"></app-prompt-input>

            </mat-card-content>
            <mat-card-actions *ngIf="session.screen.actionButton" align="end">
                <button mat-icon-button type="submit">
                    <mat-icon *ngIf="session.screen.actionButton.icon">{{session.screen.actionButton.icon}}</mat-icon>
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
