<div fxFlexFill *ngIf="session.screen.type==='PromptWithOptions'"
fxLayout="column" fxLayoutAlign="center center">
    <mat-card ngStyle.xl="width:30%" ngStyle.lg="width:40%" ngStyle.md="width:60%" ngStyle.sm="width:70%" ngStyle.xs="width:80%">
        <mat-card-content>
            <app-prompt-input #promptInput [placeholderText]="session.screen.placeholderText" [responseType]="session.screen.responseType" [responseText]="session.screen.responseText"
                [promptIcon]="session.screen.promptIcon" [hintText]="promptText"></app-prompt-input>

        </mat-card-content>
        <mat-card-actions>
            <mat-nav-list>
                    <!-- material doesn't yet support enable/disable of mat-list-item, workaround ... -->
                    <mat-list-item *ngFor="let o of optionItems" (click)="o.enabled && onAction(o.value)" style="border-color: black">
                        <span *ngIf="!o.enabled; else elseBlock" class="accent-lighter">{{o.displayValue}}</span>
                        <ng-template #elseBlock>{{o.displayValue}}</ng-template>
                        <mat-icon class="material-icons pull-right line-item-caret" style="top: 10px;">keyboard_arrow_right</mat-icon>
                    </mat-list-item>
                </mat-nav-list>
        </mat-card-actions>
    </mat-card>
</div>
