<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px">
	<mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card serrated-edge" fxLayout="column" fxLayoutAlign="start">
		<mat-card-content fxFlex="1 1 auto">
			<div class="scrollable">
				<mat-nav-list>
					<mat-list-item *ngFor="let i of screen.transactions" class="sale-line-item" (click)="selected(i.transactionId)">
						<div fxLayout="row" fxLayoutAlign="center center" style="width:100%;">
							<div fxFlex="80">
								<strong mat-line>{{i.transactionId}}</strong>
								<div mat-line class="muted-color">{{i.description}}</div>
							</div>

							<div fxFlex>
								<h5 class="middle-align text-md primary">
									<span class="super-currency-symbol">$</span>{{i.grandTotal}}</h5>
								<mat-icon class="material-icons line-item-caret">keyboard_arrow_right</mat-icon>
							</div>
						</div>
					</mat-list-item>
				</mat-nav-list>
			</div>
		</mat-card-content>
	</mat-card>
</div>