<div fxFlexFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="6px" class="serrated-edge">
    <mat-card fxFlex="1 1 auto" class="page-content-card scrollable-content-card" fxLayout="column" fxLayoutAlign="start">
        <mat-card-content>
            <mat-list class="list-seperator field-list" ngClass="xs">
                <mat-list-item *ngFor="let field of session.screen.item.fields">
                    <p matLine>{{field.label}}</p>
                    <p matLine>{{field.value || 'N/A'}}</p> 
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
