<div *ngIf="screen.type==='SignatureCapture'" fxLayout="column" fxLayoutAlign="center center">
	<div *ngIf="screen.title" class="modal-header">
		<h2 mat-card-title [ngClass]="{'warn text-lg':screen.customerFacing}">{{screen.title}}</h2>
	</div>
	<mat-card ngStyle.xl="width:50%" ngStyle.lg="width:60%" ngStyle.md="width:80%" ngStyle.sm="width:80%" ngStyle.xs="width:80%">
		<mat-card-content>
			<div style="margin-bottom:10px" fxLayout="row" fxLayoutAlign=" center">
				<mat-icon *ngIf="screen.textIcon" class="material-icons" color="primary" style="margin-right:5px">{{screen.textIcon}}</mat-icon>
				<label class="text-md">{{screen.text}}</label>
			</div>
			<div id="signature-pad" fxLayout="column">
				<canvas style="background-color: white;"></canvas>
			</div>
		</mat-card-content>

		<mat-card-actions id="signature-actions" style="margin-left:0px;margin-right:0px">
			<div fxLayout="row" fxLayoutAlign="space-between start">
				<button mat-raised-button (click)="onClearSignature()" class="sigcap-button">Clear</button>
				<div *ngFor="let m of screen.localMenuItems">
					<button *ngIf="m.action === 'SaveSignature'; else elseBlock" mat-raised-button (click)="onSaveSignature()" color="primary" class="sigcap-button">{{m.title}}</button>
					<ng-template #elseBlock>
						<button mat-raised-button (click)="session.onAction(m.action)" class="sigcap-button">{{m.title}}</button>
					</ng-template>
				</div>
			</div>
		</mat-card-actions>
	</mat-card>
</div>