<mat-toolbar *ngIf="session.screen" fxLayout="row" fxLayoutAlign="space-between center" 
			class="mat-elevation-z10" (click)="onToolbarClick()">
	<span fxFlex fxLayout="row" fxLayoutAlign="start center">
		<button *ngIf="session.screen && session.screen.backButton && session.screen.backButton.enabled"
			mat-button style="margin-left:-20px" (click)="session.onAction(session.screen.backButton.action)">
			<mat-icon class="material-icons mat-48">keyboard_arrow_left</mat-icon>
		</button>
		<mat-icon *ngIf="session.screen.icon">{{session.screen.icon}}</mat-icon>
		<span class="text-sm">&nbsp;{{session.screen.name}}</span>
	</span>
	<span fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
		<mat-icon *ngIf="session.screen && session.screen.operatorName"  class="material-icons">lock_open</mat-icon>
		<span *ngIf="session.screen && session.screen.operatorName"  class="text-sm" fxHide.xs>
			{{session.screen.operatorName}}&nbsp;on Register&nbsp;#{{session.screen.workstation.workstationId}}
		</span>
		<button mat-icon-button *ngIf="session.screen && session.screen.logoutButton && session.screen.type != 'Home'"
			(click)="doMenuItemAction(session.screen.logoutButton)" [disabled]="!isMenuItemEnabled(session.screen.logoutButton)">
			<app-icon *ngIf="session.screen.logoutButton.icon" [iconName]="session.screen.logoutButton.icon"></app-icon>
		</button>
	</span>
			
</mat-toolbar>