<mat-toolbar *ngIf="data" fxLayout="row" fxLayoutAlign="space-between center" 
			class="mat-elevation-z10" >
	<span fxFlex fxLayout="row" fxLayoutAlign="start center">
		<button *ngIf="data && data.backButton && data.backButton.enabled"
			mat-button style="margin-left:-20px" (click)="session.onAction(data.backButton.action)">
			<mat-icon class="material-icons mat-48">keyboard_arrow_left</mat-icon>
		</button>
		<mat-icon *ngIf="data.screenIcon">{{data.screenIcon}}</mat-icon>
		<span class="text-sm">&nbsp;{{data.screenName}}</span>
	</span>
	
	<div *ngIf="data.screenType==='Home'" class="home-screen-logo"></div>

	<span fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
		<mat-icon *ngIf="data && data.operatorName"  class="material-icons">lock_open</mat-icon>
		<span *ngIf="data && data.operatorName"  class="text-sm" fxHide.xs>
			{{data.operatorName}}&nbsp;on Register&nbsp;#{{data.workstationId}}
		</span>
		<button mat-icon-button *ngIf="data && data.logoutButton && data.screenType != 'Home'"
			(click)="doMenuItemAction(data.logoutButton)" [disabled]="!isMenuItemEnabled(data.logoutButton)">
			<app-icon *ngIf="data.logoutButton.icon" [iconName]="data.logoutButton.icon"></app-icon>
		</button>
	</span>
			
</mat-toolbar>