<div *ngIf="screen" class="container">

	<div *ngIf="screen.type==='Dialog'">
		<h3>{{screen.data.dialog.title}}</h3>
		<p>{{screen.data.dialog.line1}}</p>
		<p>{{screen.data.dialog.line2}}</p>
		<p>{{screen.data.dialog.line3}}</p>
		<p>{{screen.data.dialog.line4}}</p>
		<p>{{screen.data.dialog.line5}}</p>
		<p>{{screen.data.dialog.line6}}</p>
		<button *ngFor="let b of screen.data.dialog.buttons" class="btn"
			(click)="onAction(b)">{{b}}</button>

	</div>
	<h4 *ngIf="screen.menuActions.length > 0">Menu Actions</h4>
	<div class="col-xs-2">
		<button *ngFor="let m of screen.menuActions" class="btn btn-primary btn-sm"
			[disabled]="!m.enabled" (click)="onAction(m.action)">{{m.text}}</button>
	</div>
	<h4>Nav Actions</h4>
	<div class="btn-toolbar">
	<button *ngFor="let m of screen.navActions" class="btn btn-sm"
		[disabled]="!m.enabled" (click)="onAction(m.action)">{{m.text}}</button>
		</div>
</div>
<app-status></app-status>