<div *ngIf="label" class="label">
    {{label}}
</div>
<div [formGroup]="formGroup" class="counter">
    <div *ngIf="iconName" class="icon">
        <app-icon matPrefix [iconName]="iconName" [iconClass]="material-icons"></app-icon>
    </div>
    <button mat-icon-button type="button" class="primary-background" [disabled]="minusDisabled" (click)="decrementQty()">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput [formControlName]="controlName" [placeholder]="placeholder"
        [formatterName]="'numeric'" [required]="required" 
        [readonly]="readOnly" [keyboardLayout]="keyboardLayout" [attr.type]="attrType"
        autoSelectOnFocus (change)="onValueChange(value)">
    </mat-form-field>
    <button mat-icon-button type="button" class="primary-background" [disabled]="plusDisabled" (click)="incrementQty()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-error>
    <app-show-errors class="error" [control]="formGroup.controls[controlName]"></app-show-errors>
</mat-error>
