<mat-sidenav-container fxFlexFill fxLayout="column">
    <mat-sidenav #sidenav position="start" [mode]="drawerMode | async" [opened]="drawerOpen | async" >
        <div class="sidenav-drawer-header">
        {{template.drawerTitle}}
        </div>
        <mat-list>
        <div *ngFor="let item of template.drawerMenuItems; let i = index">
            <mat-list-item (click)="onMenuItemClick(item)">
                <span>{{item.title}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="side-nav-content" fxFlex="0 1 100%" fxLayout="column">
        <mat-toolbar fxHide fxShow.xs fxFlex="0 0 auto" fxLayout="row">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <app-icon iconName="menu"></app-icon>
                </button>
                <div class="toolbar-header-text">{{template.selectedMenuItemTitle}}</div>
        </mat-toolbar>
        <div style="flex:1 1 50%; min-height: 50%; overflow: auto">
            <ng-template appScreen></ng-template>
        </div>
        <div fxFlex="0 0 auto">
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>